# Practicumopdracht 3 Week 4

## Imports

In [393]:
import pandas as pd
import pyodbc
import numpy
import sqlite3
import csv
from decimal import Decimal

## Database Connectie SQL Server

In [394]:
laptop = 'KNIGHTANON-LAPT\\SQLEXPRESS'
local = '(localdb)\\MSSQLLocalDB'
local2 = 'localhost'
desktop = 'KNIGHTANON-DESK\\SQLEXPRESS'
database = 'GreatOutdoorsDW'

DB = {
    'servername': desktop,
    'database' : database
}

export_conn = pyodbc.connect('DRIVER={SQL Server};' +
                             'SERVER='+ DB['servername'] + ';'
                             'DATABASE='+DB['database'] +';'
                             +'Trusted_Connection=yes'
                            #  +'integrated security = true' 
                             )
export_cursor = export_conn.cursor()
# export_cursor.execute("CREATE DATABASE GreatOutdoorsDW")
# export_cursor.execute("USE GreatOutdoorsDW")

export_cursor

## Database Connectie Brontabellen

In [395]:
sales_con = None
crm_con = None
staff_con = None

def dataframe() : 
    try : 
        global sales_con 
        sales_con = sqlite3.connect("../Assets/Week 2/go_sales.sqlite")
        print("Connected to go_sales sqlite.")

        global crm_con 
        crm_con = sqlite3.connect("../Assets/Week 2/go_crm.sqlite")
        print("Connected to go_crm sqlite.")

        global staff_con 
        staff_con = sqlite3.connect("../Assets/Week 2/go_staff.sqlite")
        print("Connected to go_staff sqlite.")


    except sqlite3.Error as error: 
        print("Failed to read data from sqlite table", error)

dataframe()

Connected to go_sales sqlite.
Connected to go_crm sqlite.
Connected to go_staff sqlite.

### Tabellen inlezen

#### GO_CRM

In [396]:
# go_crm

global go_crm_age_group
go_crm_age_group = pd.read_sql_query("SELECT * FROM {}".format("age_group"),crm_con)
go_crm_age_group = go_crm_age_group[go_crm_age_group.columns.drop(list(go_crm_age_group.filter(regex="TRIAL")))]


global go_crm_country
go_crm_country = pd.read_sql_query("SELECT * FROM {}".format("country"),crm_con)
go_crm_country = go_crm_country[go_crm_country.columns.drop(list(go_crm_country.filter(regex="TRIAL")))]

global go_crm_retailer
go_crm_retailer = pd.read_sql_query("SELECT * FROM {}".format("retailer"),crm_con)
go_crm_retailer = go_crm_retailer[go_crm_retailer.columns.drop(list(go_crm_retailer.filter(regex="TRIAL")))]

global go_crm_retailer_contact
go_crm_retailer_contact = pd.read_sql_query("SELECT * FROM {}".format("retailer_contact"),crm_con)
go_crm_retailer_contact = go_crm_retailer_contact[go_crm_retailer_contact.columns.drop(list(go_crm_retailer_contact.filter(regex="TRIAL")))]

global go_crm_retailer_headquarters
go_crm_retailer_headquarters = pd.read_sql_query("SELECT * FROM {}".format("retailer_headquarters"),crm_con)
go_crm_retailer_headquarters = go_crm_retailer_headquarters[go_crm_retailer_headquarters.columns.drop(list(go_crm_retailer_headquarters.filter(regex="TRIAL")))]

global go_crm_retailer_segment
go_crm_retailer_segment = pd.read_sql_query("SELECT * FROM {}".format("retailer_segment"),crm_con)
go_crm_retailer_segment = go_crm_retailer_segment[go_crm_retailer_segment.columns.drop(list(go_crm_retailer_segment.filter(regex="TRIAL")))]

global go_crm_retailer_site
go_crm_retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),crm_con)
go_crm_retailer_site = go_crm_retailer_site[go_crm_retailer_site.columns.drop(list(go_crm_retailer_site.filter(regex="TRIAL")))]

global go_crm_retailer_type
go_crm_retailer_type = pd.read_sql_query("SELECT * FROM {}".format("retailer_type"),crm_con)
go_crm_retailer_type = go_crm_retailer_type[go_crm_retailer_type.columns.drop(list(go_crm_retailer_type.filter(regex="TRIAL")))]

global go_crm_sales_demographic
go_crm_sales_demographic = pd.read_sql_query("SELECT * FROM {}".format("sales_demographic"),crm_con)
go_crm_sales_demographic = go_crm_sales_demographic[go_crm_sales_demographic.columns.drop(list(go_crm_sales_demographic.filter(regex="TRIAL")))]

global go_crm_sales_territory
go_crm_sales_territory = pd.read_sql_query("SELECT * FROM {}".format("sales_territory"),crm_con)
go_crm_sales_territory = go_crm_sales_territory[go_crm_sales_territory.columns.drop(list(go_crm_sales_territory.filter(regex="TRIAL")))]

#### GO_STAFF

In [397]:
# go_staff

global go_staff_course 
go_staff_course = pd.read_sql_query("SELECT * FROM {}".format("course"),staff_con)
go_staff_course = go_staff_course[go_staff_course.columns.drop(list(go_staff_course.filter(regex="TRIAL")))]


global go_staff_sales_branch 
go_staff_sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),staff_con)
go_staff_sales_branch = go_staff_sales_branch[go_staff_sales_branch.columns.drop(list(go_staff_sales_branch.filter(regex="TRIAL")))]


global go_staff_staff
go_staff_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),staff_con)
go_staff_staff = go_staff_staff[go_staff_staff.columns.drop(list(go_staff_staff.filter(regex="TRIAL")))]


global go_staff_satisfaction
go_staff_satisfaction = pd.read_sql_query("SELECT * FROM {}".format("satisfaction"),staff_con)
go_staff_satisfaction = go_staff_satisfaction[go_staff_satisfaction.columns.drop(list(go_staff_satisfaction.filter(regex="TRIAL")))]


global go_staff_satisfaction_type
go_staff_satisfaction_type = pd.read_sql_query("SELECT * FROM {}".format("satisfaction_type"),staff_con)
go_staff_satisfaction_type = go_staff_satisfaction_type[go_staff_satisfaction_type.columns.drop(list(go_staff_satisfaction_type.filter(regex="TRIAL")))]


global go_staff_training
go_staff_training = pd.read_sql_query("SELECT * FROM {}".format("training"),staff_con)
go_staff_training = go_staff_training = go_staff_training[go_staff_training.columns.drop(list(go_staff_training.filter(regex="TRIAL")))]

#### GO_SALES

In [398]:
#go_sales
global product
product = pd.read_sql_query("SELECT * FROM {}".format("product"),sales_con)
product = product[product.columns.drop(list(product.filter(regex="TRIAL")))]


global product_type
product_type = pd.read_sql_query("SELECT * FROM {}".format("product_type"),sales_con)
product_type = product_type[product_type.columns.drop(list(product_type.filter(regex="TRIAL")))]

global product_line
product_line = pd.read_sql_query("SELECT * FROM {}".format("product_line"),sales_con)
product_line = product_line[product_line.columns.drop(list(product_line.filter(regex="TRIAL")))]

global sales_staff
sales_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),sales_con)
sales_staff = sales_staff[sales_staff.columns.drop(list(sales_staff.filter(regex="TRIAL")))]

global sales_branch
sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),sales_con)
sales_branch = sales_branch[sales_branch.columns.drop(list(sales_branch.filter(regex="TRIAL")))]

global retailer_site
retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),sales_con)
retailer_site = retailer_site[retailer_site.columns.drop(list(retailer_site.filter(regex="TRIAL")))]

global country
country = pd.read_sql_query("SELECT * FROM {}".format("country"),sales_con)
country = country[country.columns.drop(list(country.filter(regex="TRIAL")))]

global order_header
order_header = pd.read_sql_query("SELECT * FROM {}".format("order_header"),sales_con)
order_header = order_header[order_header.columns.drop(list(order_header.filter(regex="TRIAL")))]

global order_method
order_method = pd.read_sql_query("SELECT * FROM {}".format("order_method"),sales_con)
order_method = order_method[order_method.columns.drop(list(order_method.filter(regex="TRIAL")))]

global order_details
order_details = pd.read_sql_query("SELECT * FROM {}".format("order_details"),sales_con)
order_details = order_details[order_details.columns.drop(list(order_details.filter(regex="TRIAL")))]

global returned_item
returned_item = pd.read_sql_query("SELECT * FROM {}".format("returned_item"),sales_con)
returned_item = returned_item[returned_item.columns.drop(list(returned_item.filter(regex="TRIAL")))]

global return_reason
return_reason = pd.read_sql_query("SELECT * FROM {}".format("return_reason"),sales_con)
return_reason = return_reason[return_reason.columns.drop(list(return_reason.filter(regex="TRIAL")))]

global SALES_TARGETData
SALES_TARGETData = pd.read_sql_query("SELECT * FROM {}".format("SALES_TARGETData"),sales_con)
SALES_TARGETData = SALES_TARGETData[SALES_TARGETData.columns.drop(list(SALES_TARGETData.filter(regex="TRIAL")))]

### Tabeltypes converteren

#### GO_CRM

In [399]:

go_crm = [go_crm_age_group,go_crm_country,go_crm_retailer,go_crm_retailer_contact,go_crm_retailer_headquarters,
          go_crm_retailer_segment,go_crm_retailer_site,go_crm_retailer_type,go_crm_sales_demographic,go_crm_sales_territory]

go_crm_age_group["AGE_GROUP_CODE"] = go_crm_age_group["AGE_GROUP_CODE"].astype(int)
go_crm_age_group["LOWER_AGE"] = go_crm_age_group["LOWER_AGE"].astype(int)
go_crm_age_group["UPPER_AGE"] = go_crm_age_group["UPPER_AGE"].astype(int)

go_crm_country["COUNTRY_CODE"] = go_crm_country["COUNTRY_CODE"].astype(int)
go_crm_country["SALES_TERRITORY_CODE"] = go_crm_country["SALES_TERRITORY_CODE"].astype(int)

go_crm_retailer["RETAILER_CODE"] = go_crm_retailer["RETAILER_CODE"].astype(int)
go_crm_retailer["RETAILER_CODEMR"] = go_crm_retailer["RETAILER_CODEMR"].astype(float)
go_crm_retailer["RETAILER_TYPE_CODE"] = go_crm_retailer["RETAILER_TYPE_CODE"].astype(int)

go_crm_retailer_contact["EXTENSION"] = go_crm_retailer_contact["EXTENSION"].astype(float)
go_crm_retailer_contact['RETAILER_CONTACT_CODE'] = go_crm_retailer_contact["RETAILER_CONTACT_CODE"].astype(int)
go_crm_retailer_contact["RETAILER_SITE_CODE"] = go_crm_retailer_contact["RETAILER_SITE_CODE"].astype(int)

go_crm_retailer_headquarters["RETAILER_CODEMR"] = go_crm_retailer_headquarters["RETAILER_CODEMR"].astype(float)
go_crm_retailer_headquarters["COUNTRY_CODE"] = go_crm_retailer_headquarters["COUNTRY_CODE"].astype(int)
go_crm_retailer_headquarters["SEGMENT_CODE"] = go_crm_retailer_headquarters["SEGMENT_CODE"].astype(int)

go_crm_retailer_segment["SEGMENT_CODE"] = go_crm_retailer_segment["SEGMENT_CODE"].astype(int)

go_crm_retailer_site["RETAILER_CODE"] = go_crm_retailer_site["RETAILER_CODE"].astype(int)
go_crm_retailer_site["RETAILER_SITE_CODE"] = go_crm_retailer_site["RETAILER_SITE_CODE"].astype(int)
go_crm_retailer_site["COUNTRY_CODE"] = go_crm_retailer_site["COUNTRY_CODE"].astype(int)
go_crm_retailer_site["ACTIVE_INDICATOR"] = go_crm_retailer_site["ACTIVE_INDICATOR"].astype(int)

go_crm_retailer_type["RETAILER_TYPE_CODE"] = go_crm_retailer_type["RETAILER_TYPE_CODE"].astype(int)

go_crm_sales_territory["SALES_TERRITORY_CODE"] = go_crm_sales_territory["SALES_TERRITORY_CODE"].astype(int)


for table in go_crm:
    display(table.dtypes)

AGE_GROUP_CODE    int32
UPPER_AGE         int32
LOWER_AGE         int32
dtype: object

COUNTRY_CODE             int32
COUNTRY_EN              object
FLAG_IMAGE              object
SALES_TERRITORY_CODE     int32
dtype: object

RETAILER_CODE           int32
RETAILER_CODEMR       float64
COMPANY_NAME           object
RETAILER_TYPE_CODE      int32
dtype: object

RETAILER_CONTACT_CODE      int32
RETAILER_SITE_CODE         int32
FIRST_NAME                object
LAST_NAME                 object
JOB_POSITION_EN           object
EXTENSION                float64
FAX                       object
E_MAIL                    object
GENDER                    object
dtype: object

RETAILER_CODEMR    float64
RETAILER_NAME       object
ADDRESS1            object
ADDRESS2            object
CITY                object
REGION              object
POSTAL_ZONE         object
COUNTRY_CODE         int32
PHONE               object
FAX                 object
SEGMENT_CODE         int32
dtype: object

SEGMENT_CODE            int32
LANGUAGE               object
SEGMENT_NAME           object
SEGMENT_DESCRIPTION    object
dtype: object

RETAILER_SITE_CODE     int32
RETAILER_CODE          int32
ADDRESS1              object
ADDRESS2              object
CITY                  object
REGION                object
POSTAL_ZONE           object
COUNTRY_CODE           int32
ACTIVE_INDICATOR       int32
dtype: object

RETAILER_TYPE_CODE     int32
RETAILER_TYPE_EN      object
dtype: object

DEMOGRAPHIC_CODE    object
RETAILER_CODEMR     object
AGE_GROUP_CODE      object
SALES_PERCENT       object
dtype: object

SALES_TERRITORY_CODE     int32
TERRITORY_NAME_EN       object
dtype: object

#### GO_STAFF

In [400]:
go_staff = [go_staff_course, go_staff_sales_branch,go_staff_staff,go_staff_satisfaction, go_staff_satisfaction_type, go_staff_training]

go_staff_course["COURSE_CODE"] = go_staff_course["COURSE_CODE"].astype(int)

go_staff_sales_branch["COUNTRY_CODE"] = go_staff_sales_branch["COUNTRY_CODE"].astype(int)
go_staff_sales_branch["SALES_BRANCH_CODE"] = go_staff_sales_branch["SALES_BRANCH_CODE"].astype(int)

go_staff_staff["SALES_STAFF_CODE"] = go_staff_staff["SALES_STAFF_CODE"].astype(int)
go_staff_staff["SALES_BRANCH_CODE"] = go_staff_staff["SALES_BRANCH_CODE"].astype(int)
go_staff_staff["MANAGER_CODE"] = go_staff_staff["MANAGER_CODE"].astype(int)
go_staff_staff["EXTENSION"] = go_staff_staff["EXTENSION"].astype(float)
go_staff_staff["DATE_HIRED"] = pd.to_datetime(go_staff_staff["DATE_HIRED"])

go_staff_satisfaction["SALES_STAFF_CODE"] = go_staff_satisfaction["SALES_STAFF_CODE"].astype(int)
go_staff_satisfaction["SATISFACTION_TYPE_CODE"] = go_staff_satisfaction["SATISFACTION_TYPE_CODE"].astype(int)
# wat voor datatype for Year? Kijken naar dimensiewaardes
# losse gedeeltes van datetimes (eg. dag, jaar) opslaan als integers
go_staff_satisfaction["YEAR"] = go_staff_satisfaction["YEAR"].astype(int)

go_staff_satisfaction_type["SATISFACTION_TYPE_CODE"] = go_staff_satisfaction_type["SATISFACTION_TYPE_CODE"].astype(int)

go_staff_training["SALES_STAFF_CODE"] = go_staff_training["SALES_STAFF_CODE"].astype(int)
go_staff_training["COURSE_CODE"] = go_staff_training["COURSE_CODE"].astype(int)
go_staff_training["YEAR"] = go_staff_training["YEAR"].astype(int)


for table in go_staff:
    # table = table.drop("TRIAL633", axis=1)
    table = table[table.columns.drop(list(table.filter(regex="TRIAL")))]
    display(table.dtypes)

display(go_staff_course)

C:\Users\Anthony Delgado\AppData\Local\Temp\ipykernel_29744\1536311232.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  go_staff_staff["DATE_HIRED"] = pd.to_datetime(go_staff_staff["DATE_HIRED"])

COURSE_CODE            int32
COURSE_DESCRIPTION    object
dtype: object

SALES_BRANCH_CODE     int32
ADDRESS1             object
ADDRESS2             object
CITY                 object
REGION               object
POSTAL_ZONE          object
COUNTRY_CODE          int32
dtype: object

SALES_STAFF_CODE              int32
FIRST_NAME                   object
LAST_NAME                    object
POSITION_EN                  object
WORK_PHONE                   object
EXTENSION                   float64
FAX                          object
EMAIL                        object
DATE_HIRED           datetime64[ns]
SALES_BRANCH_CODE             int32
MANAGER_CODE                  int32
dtype: object

YEAR                      int32
SALES_STAFF_CODE          int32
SATISFACTION_TYPE_CODE    int32
dtype: object

SATISFACTION_TYPE_CODE            int32
SATISFACTION_TYPE_DESCRIPTION    object
dtype: object

YEAR                int32
SALES_STAFF_CODE    int32
COURSE_CODE         int32
dtype: object

   COURSE_CODE COURSE_DESCRIPTION
0            1     GO Orientation
1            2   GO Communication
2            3         GO Sales 1
3            4         GO Sales 2
4            5     GO Marketing 1
5            6     GO Marketing 2
6            7     GO Marketing 3
7            8    GO Management 1
8            9    GO Management 2

#### GO_SALES

In [401]:
go_sales = [SALES_TARGETData,country,order_details,order_header,
            order_method,product,product_line,product_type,returned_item,
            return_reason, sales_staff,sales_branch,retailer_site]

SALES_TARGETData["Id"] = SALES_TARGETData["Id"].astype(int)
SALES_TARGETData["SALES_STAFF_CODE"] = SALES_TARGETData["SALES_STAFF_CODE"].astype(int)
SALES_TARGETData["SALES_PERIOD"] = SALES_TARGETData["SALES_PERIOD"].astype(int)
SALES_TARGETData["PRODUCT_NUMBER"] = SALES_TARGETData["PRODUCT_NUMBER"].astype(int)
SALES_TARGETData["SALES_TARGET"] = SALES_TARGETData["SALES_TARGET"].astype(int)
SALES_TARGETData["RETAILER_CODE"] = SALES_TARGETData["RETAILER_CODE"].astype(int)
# datatype voor sales_year ?

country["COUNTRY_CODE"] = country["COUNTRY_CODE"].astype(int)

order_details["ORDER_DETAIL_CODE"] = order_details["ORDER_DETAIL_CODE"].astype(int)
order_details["ORDER_NUMBER"] = order_details["ORDER_NUMBER"].astype(int)
order_details["PRODUCT_NUMBER"] = order_details["PRODUCT_NUMBER"].astype(int)
order_details["QUANTITY"] = order_details["QUANTITY"].astype(int)
order_details["UNIT_COST"] = order_details["UNIT_COST"].apply(float)
order_details["UNIT_PRICE"] = order_details["UNIT_PRICE"].apply(float)
order_details["UNIT_SALE_PRICE"] = order_details["UNIT_SALE_PRICE"].apply(float)

order_header["ORDER_NUMBER"] = order_header["ORDER_NUMBER"].astype(int)
order_header["RETAILER_SITE_CODE"] = order_header["RETAILER_SITE_CODE"].astype(int)
order_header["RETAILER_CONTACT_CODE"] = order_header["RETAILER_CONTACT_CODE"].astype(int)
order_header["SALES_STAFF_CODE"] = order_header["SALES_STAFF_CODE"].astype(int)
order_header["SALES_BRANCH_CODE"] = order_header["SALES_BRANCH_CODE"].astype(int)
order_header["ORDER_DATE"] = pd.to_datetime(order_header["ORDER_DATE"])
order_header["ORDER_METHOD_CODE"] = order_header["ORDER_METHOD_CODE"].astype(int)

order_method["ORDER_METHOD_CODE"] = order_method["ORDER_METHOD_CODE"].astype(int)

product["PRODUCT_NUMBER"] = product["PRODUCT_NUMBER"].astype(int)
product["INTRODUCTION_DATE"] = pd.to_datetime(product["INTRODUCTION_DATE"])
product["PRODUCT_TYPE_CODE"] = product["PRODUCT_TYPE_CODE"].astype(int)
product["PRODUCTION_COST"] = product["PRODUCTION_COST"].astype(float)
product["MARGIN"] = product["MARGIN"].astype(float)

product_line["PRODUCT_LINE_CODE"] = product_line["PRODUCT_LINE_CODE"].astype(int)

product_type["PRODUCT_LINE_CODE"] = product_type["PRODUCT_LINE_CODE"].astype(int)
product_type["PRODUCT_TYPE_CODE"] = product_type["PRODUCT_TYPE_CODE"].astype(int)

returned_item["RETURN_CODE"] = returned_item["RETURN_CODE"].astype(int)
returned_item["RETURN_DATE"] = pd.to_datetime(returned_item["RETURN_DATE"], format="%d-%m-%Y %H:%M:%S")
returned_item["ORDER_DETAIL_CODE"] = returned_item["ORDER_DETAIL_CODE"].astype(int)
returned_item["RETURN_REASON_CODE"] = returned_item["RETURN_REASON_CODE"].astype(int)
returned_item["RETURN_QUANTITY"] = returned_item["RETURN_QUANTITY"].astype(int)

return_reason["RETURN_REASON_CODE"] = return_reason["RETURN_REASON_CODE"].astype(int)

sales_staff["SALES_STAFF_CODE"] = sales_staff["SALES_STAFF_CODE"].astype(int)
sales_staff["EXTENSION"] = sales_staff["EXTENSION"].astype(float)
sales_staff["DATE_HIRED"] = pd.to_datetime(sales_staff["DATE_HIRED"])
sales_staff["SALES_BRANCH_CODE"] = sales_staff["SALES_BRANCH_CODE"].astype(int) 

sales_branch["SALES_BRANCH_CODE"] = sales_branch["SALES_BRANCH_CODE"].astype(int)
sales_branch["COUNTRY_CODE"] = sales_branch["COUNTRY_CODE"].astype(int)

retailer_site["RETAILER_SITE_CODE"] = retailer_site["RETAILER_SITE_CODE"].astype(int)
retailer_site["RETAILER_CODE"] = retailer_site["RETAILER_CODE"].astype(int)
retailer_site["COUNTRY_CODE"] = retailer_site["COUNTRY_CODE"].astype(int)
retailer_site["ACTIVE_INDICATOR"] = retailer_site["ACTIVE_INDICATOR"].astype(int)

for table in go_sales:
    display(table.dtypes)

C:\Users\Anthony Delgado\AppData\Local\Temp\ipykernel_29744\933722837.py:34: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  product["INTRODUCTION_DATE"] = pd.to_datetime(product["INTRODUCTION_DATE"])
C:\Users\Anthony Delgado\AppData\Local\Temp\ipykernel_29744\933722837.py:54: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  sales_staff["DATE_HIRED"] = pd.to_datetime(sales_staff["DATE_HIRED"])

Id                   int32
SALES_STAFF_CODE     int32
SALES_YEAR          object
SALES_PERIOD         int32
RETAILER_NAME       object
PRODUCT_NUMBER       int32
SALES_TARGET         int32
RETAILER_CODE        int32
dtype: object

COUNTRY_CODE      int32
COUNTRY          object
LANGUAGE         object
CURRENCY_NAME    object
dtype: object

ORDER_DETAIL_CODE      int32
ORDER_NUMBER           int32
PRODUCT_NUMBER         int32
QUANTITY               int32
UNIT_COST            float64
UNIT_PRICE           float64
UNIT_SALE_PRICE      float64
dtype: object

ORDER_NUMBER                      int32
RETAILER_NAME                    object
RETAILER_SITE_CODE                int32
RETAILER_CONTACT_CODE             int32
SALES_STAFF_CODE                  int32
SALES_BRANCH_CODE                 int32
ORDER_DATE               datetime64[ns]
ORDER_METHOD_CODE                 int32
dtype: object

ORDER_METHOD_CODE     int32
ORDER_METHOD_EN      object
dtype: object

PRODUCT_NUMBER                int32
INTRODUCTION_DATE    datetime64[ns]
PRODUCT_TYPE_CODE             int32
PRODUCTION_COST             float64
MARGIN                      float64
PRODUCT_IMAGE                object
LANGUAGE                     object
PRODUCT_NAME                 object
DESCRIPTION                  object
dtype: object

PRODUCT_LINE_CODE     int32
PRODUCT_LINE_EN      object
dtype: object

PRODUCT_TYPE_CODE     int32
PRODUCT_LINE_CODE     int32
PRODUCT_TYPE_EN      object
dtype: object

RETURN_CODE                    int32
RETURN_DATE           datetime64[ns]
ORDER_DETAIL_CODE              int32
RETURN_REASON_CODE             int32
RETURN_QUANTITY                int32
dtype: object

RETURN_REASON_CODE        int32
RETURN_DESCRIPTION_EN    object
dtype: object

SALES_STAFF_CODE              int32
FIRST_NAME                   object
LAST_NAME                    object
POSITION_EN                  object
WORK_PHONE                   object
EXTENSION                   float64
FAX                          object
EMAIL                        object
DATE_HIRED           datetime64[ns]
SALES_BRANCH_CODE             int32
dtype: object

SALES_BRANCH_CODE     int32
ADDRESS1             object
ADDRESS2             object
CITY                 object
REGION               object
POSTAL_ZONE          object
COUNTRY_CODE          int32
dtype: object

RETAILER_SITE_CODE     int32
RETAILER_CODE          int32
ADDRESS1              object
ADDRESS2              object
CITY                  object
REGION                object
POSTAL_ZONE           object
COUNTRY_CODE           int32
ACTIVE_INDICATOR       int32
dtype: object

### Data opschonen

In [402]:
# De bedoeling hier is om ervoor te zorgen dat data zich in de goede kolommen bevindt.
# Dus geen plaatsnaam waar een prijs verwacht wordt.

#10-3-2024 - De nieuwe SQLite database bestanden dat op brightspace staan lijken schoon aangeleverd te zijn.

## Data samenvoegen

### Dimensietabellen

#### Product
Samengestelde dimensietabel bestaande uit Product, Product_Type, Product_Line

In [403]:
produc_types_content = pd.merge(product_type,product_line, left_on="PRODUCT_LINE_CODE", how="inner", right_on="PRODUCT_LINE_CODE")

PRODUCT_REGISTRY = product.merge(produc_types_content, left_on="PRODUCT_TYPE_CODE", how="inner", right_on="PRODUCT_TYPE_CODE")

display(PRODUCT_REGISTRY)

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION,PRODUCT_LINE_CODE,PRODUCT_TYPE_EN,PRODUCT_LINE_EN
0,1,2011-02-15,1,4.00,0.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",1,Cooking Gear,Camping Equipment
1,10,2011-02-15,1,10.00,0.40,P10CE1CG1.jpg,EN,TrailChef Utensils,"Spoon, fork and knife set made of a light yet ...",1,Cooking Gear,Camping Equipment
2,100,2011-02-15,17,3.00,0.50,P100OP4FA17.jpg,EN,Insect Bite Relief,The Insect Bite Relief helps the itching and s...,4,First Aid,Outdoor Protection
3,101,2019-12-15,18,305.54,0.43,P101GE5IR18.jpg,EN,Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...,5,Irons,Golf Equipment
4,102,2019-12-10,18,380.95,0.51,P102GE5IR18.jpg,EN,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...,5,Irons,Golf Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...
110,95,2011-02-15,16,3.00,0.50,P91OP4SS16.jpg,EN,Sun Shield,"PABA free sunscreen, SPF 30, poison oak and iv...",4,Sunscreen,Outdoor Protection
111,96,2011-02-15,17,16.43,0.28,P96OP4FA17.jpg,EN,Compact Relief Kit,A personal first aid kit is recommended for ev...,4,First Aid,Outdoor Protection
112,97,2013-03-05,17,25.00,0.28,P96OP4FA17.jpg,EN,Deluxe Family Relief Kit,A complete medical kit suitable for families w...,4,First Aid,Outdoor Protection
113,98,2011-02-15,17,3.00,0.50,P98OP4FA17.jpg,EN,Calamine Relief,Use the Calamine Relief for allergic skin reac...,4,First Aid,Outdoor Protection
114,99,2011-02-15,17,2.00,0.60,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",4,First Aid,Outdoor Protection

#### Sales_Staff
Samengesteld uit go_sales.sales_staff, go_staff.sales_staff

In [404]:
sales_staff_combined = pd.concat([sales_staff, go_staff_staff], ignore_index=True)
sales_staff_combined = sales_staff_combined.sort_values(by=["SALES_STAFF_CODE"])
# inplace=False om een een nieuwe dataframe te returnen, anders gaat het sales_staff aanpassen en krijg je niks terug
sales_staff_combined = sales_staff_combined.dropna(subset=["MANAGER_CODE"], inplace=False)

display(sales_staff_combined)

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,MANAGER_CODE
146,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,18.0
154,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,4.0
165,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,4.0
176,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,4.0
122,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,14.0
...,...,...,...,...,...,...,...,...,...,...,...
123,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,119.0
124,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,119.0
125,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,119.0
126,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,18.0
127,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,18.0

#### Sales_Branch
Samengesteld uit go_staff_sales_branch en go_sales_sales_branch

In [405]:
sales_branch_combined = pd.concat([sales_branch, go_staff_sales_branch], ignore_index=True)
sales_branch_combined = sales_branch_combined.drop_duplicates()
sales_branch_combined["POSTAL_ADDRESS"] = sales_branch_combined[["ADDRESS1", "POSTAL_ZONE"]].agg( ", ".join, axis=1)

display(sales_branch_combined.dtypes)
display(sales_branch_combined)

SALES_BRANCH_CODE     int32
ADDRESS1             object
ADDRESS2             object
CITY                 object
REGION               object
POSTAL_ZONE          object
COUNTRY_CODE          int32
POSTAL_ADDRESS       object
dtype: object

,SALES_BRANCH_CODE,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY_CODE,POSTAL_ADDRESS
0,13,Schwabentor 35,None,Hamburg,None,D-22529,2,"Schwabentor 35, D-22529"
1,14,Leopoldstraße 36,None,München,None,D-81241,2,"Leopoldstraße 36, D-81241"
2,15,Isafjordsgatan 30 C,None,Kista,None,S-164 40,10,"Isafjordsgatan 30 C, S-164 40"
3,17,"7800, 756 - 6th Avenue. S.W.",None,Calgary,Alberta,T2P 3Z0,4,"7800, 756 - 6th Avenue. S.W., T2P 3Z0"
4,18,789 Yonge Street,None,Toronto,Ontario,M2M 4K8,4,"789 Yonge Street, M2M 4K8"
5,19,1288 Dorchester Avenue,None,Boston,Massachusetts,02133,3,"1288 Dorchester Avenue, 02133"
6,20,299 Yale Avenue,None,Seattle,Washington,98139,3,"299 Yale Avenue, 98139"
7,21,1288 South Barrington Ave.,None,Los Angeles,California,90072,3,"1288 South Barrington Ave., 90072"
8,22,10032 NW 186th,None,Miami,Florida,33024,3,"10032 NW 186th, 33024"
9,23,"6c, rue de l'Église",None,Lyon,None,F-69002,1,"6c, rue de l'Église, F-69002"
10,24,Prol. Paseo de la Reforma No. 51,Lomas de Santa Fe,Distrito Federal,México,01219,20,"Prol. Paseo de la Reforma No. 51, 01219"
11,25,202-2-3 Hyakunincho,Shinjuku-ku,Tokyo,Tokyo,681-3187,11,"202-2-3 Hyakunincho, 681-3187"
12,26,543-225 Asahi,Asahi-ku,Osaka City,Osaka,616-5698,11,"543-225 Asahi, 616-5698"
13,28,2315 Queen's Ave,Level 2,Melbourne,VIC,2088,16,"2315 Queen's Ave, 2088"
14,29,"Plaza de la Constitución, s/n",None,Bilbao,Vizcaya,48223,19,"Plaza de la Constitución, s/n, 48223"
15,30,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,"Avenida Paulista, 333, 01403-090"
16,31,Kauppakatu 33,None,Kuopio,None,FIN-73100,22,"Kauppakatu 33, FIN-73100"
17,32,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,13,"234-12, Kongdeok-Dong, 121-020"
18,33,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,12,"154, Choung-Cheng South Road, 241"
19,34,No. 1277 Beijing Xi Road,None,Shanghai,None,200040,14,"No. 1277 Beijing Xi Road, 200040"
20,35,Victoria House,25 Ebury Street,London,None,N17 7LX,9,"Victoria House, N17 7LX"
21,36,3 Albany Court,Market Street,Birmingham,West Midlands,B43 7NP,9,"3 Albany Court, B43 7NP"
22,37,Birchstraße 13,None,Zürich,None,CH-8057,8,"Birchstraße 13, CH-8057"
23,38,Interleuvenlaan 2,None,Heverlee,None,B-3001,17,"Interleuvenlaan 2, B-3001"
24,39,Jedleser Straße 7,None,Wien,None,A-1210,5,"Jedleser Straße 7, A-1210"
25,6,"75, rue du Faubourg St-Honoré",None,Paris,None,F-75008,1,"75, rue du Faubourg St-Honoré, F-75008"
26,7,"Piazza Duomo, 1",None,Milano,None,I-20121,6,"Piazza Duomo, 1, I-20121"
27,9,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,1233 BW,7,"Singelgravenplein 4, 1233 BW"

#### Retailer
Samengevoegde tabel, bestaat uit go_crm.Retailer_Contact, Retailer_Site, Retailer, Retailer_Type, Country, Sales_Territory

In [406]:
# combineer de verschillende retailer_site tabellen en drop duplicates
retailer_site_combined = pd.concat([retailer_site, go_crm_retailer_site], ignore_index=True)
retailer_site_combined = retailer_site_combined.drop_duplicates()

# merge pad 1 : Retailer_Site --> Country --> Sales_Territory
country_content = pd.merge(go_crm_country, go_crm_sales_territory, left_on="SALES_TERRITORY_CODE", how="inner", right_on="SALES_TERRITORY_CODE")
retailer = pd.merge(retailer_site_combined, country_content, left_on="COUNTRY_CODE", how="inner", right_on="COUNTRY_CODE")

# merge pad 2 : retailer_site --> retailer_contact
retailer = pd.merge(retailer, go_crm_retailer_contact, left_on="RETAILER_SITE_CODE", how="inner", right_on="RETAILER_SITE_CODE")

# merge pad 3 : retailer_site --> retailer
retailer = pd.merge(retailer, go_crm_retailer, left_on="RETAILER_CODE", how="inner", right_on="RETAILER_CODE")
retailer = pd.merge(retailer, go_crm_retailer_type, left_on="RETAILER_TYPE_CODE", how="inner", right_on="RETAILER_TYPE_CODE")

# Als iets een NaN value heeft, vervang met 0
retailer["EXTENSION"] = retailer["EXTENSION"].fillna(0)
retailer["RETAILER_CODEMR"] = retailer["RETAILER_CODEMR"].fillna(0)


display(retailer.dtypes)
display(retailer)

RETAILER_SITE_CODE         int32
RETAILER_CODE              int32
ADDRESS1                  object
ADDRESS2                  object
CITY                      object
REGION                    object
POSTAL_ZONE               object
COUNTRY_CODE               int32
ACTIVE_INDICATOR           int32
COUNTRY_EN                object
FLAG_IMAGE                object
SALES_TERRITORY_CODE       int32
TERRITORY_NAME_EN         object
RETAILER_CONTACT_CODE      int32
FIRST_NAME                object
LAST_NAME                 object
JOB_POSITION_EN           object
EXTENSION                float64
FAX                       object
E_MAIL                    object
GENDER                    object
RETAILER_CODEMR          float64
COMPANY_NAME              object
RETAILER_TYPE_CODE         int32
RETAILER_TYPE_EN          object
dtype: object

,RETAILER_SITE_CODE,RETAILER_CODE,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY_CODE,ACTIVE_INDICATOR,COUNTRY_EN,...,LAST_NAME,JOB_POSITION_EN,EXTENSION,FAX,E_MAIL,GENDER,RETAILER_CODEMR,COMPANY_NAME,RETAILER_TYPE_CODE,RETAILER_TYPE_EN
0,1,89,1117 Franklin Blvd,None,Winnipeg,Manitoba,R2C 0M5,4,1,Canada,...,Gates,Site Assistant Manager,0.0,1 (204) 891-4971,TGates@rocksteadyitl.com,F,1.0,Rock Steady,6,Outdoors Shop
1,10,92,"Suite 1500, 802 Docklands Street",None,Vancouver,British Columbia,V6E 3Z3,4,1,Canada,...,Marshall,Site Manager,0.0,1 (604) 682-4523,JMarshall@vipce2k.com,M,4.0,VIP Department Stores,2,Department Store
2,100,95,4830 Princeton,Unit 2,Albuquerque,New Mexico,87186,3,1,United States,...,Fitzpatrick,District Manager,0.0,1 (505) 881-5789,Fitzpatrick@f76.net,M,5.0,Falcon Outfitters,6,Outdoors Shop
3,101,95,6630 Burnet Road,None,Austin,Texas,78769,3,1,United States,...,Spagnoli,Site Manager,112.0,1 (512) 451-5478,Spagnoli@f76.net,F,5.0,Falcon Outfitters,6,Outdoors Shop
4,102,108,2189 Louisville Road,None,Independence,Kentucky,41051,3,0,United States,...,Jones,District Manager,0.0,1 (606) 244-2691,Purchasing@trailmasterz80.net,M,78.0,Trail Masters,6,Outdoors Shop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,95,106,932 Ohmey Avenue,None,Los Angeles,California,90211,3,1,United States,...,Ricci,District Manager,0.0,1 (213) 747-4456,Ricci@donovansshops.net,M,76.0,Donovan's Sports,8,Sports Store
387,96,106,438 Kelson Road,None,Los Angeles,California,90203,3,1,United States,...,Ramirez,Stock Manager,3490.0,1 (310) 281-5444,Ramirez@donovansshops.net,M,76.0,Donovan's Sports,8,Sports Store
388,97,106,3410 Selson Avenue,None,San Diego,California,92132,3,1,United States,...,Buhlman,Stock Manager,0.0,1 (619) 223-6548,Buhlman@donovansshops.net,F,76.0,Donovan's Sports,8,Sports Store
389,98,106,73 Stanley Avenue,None,San Francisco,California,94135,3,1,United States,...,Cornell,District Manager,542.0,1 (415) 759-3215,Cornell@donovansshops.net,F,76.0,Donovan's Sports,8,Sports Store
390,99,106,37 Raleigh Avenue,None,San Francisco,California,94129,3,1,United States,...,Lindacker,Chief Purchaser,0.0,1 (415) 759-1367,Lindacker@donovansshops.net,M,76.0,Donovan's Sports,8,Sports Store

#### Return_Reason

Deze dimensietabel kan 1 op 1 overgenomen worden. Er moet nog gekeken worden of dimensies die in andere dimensies zijn samengevoegd ook apart opgenomen moeten worden.

In [407]:

display(return_reason.dtypes)
display(return_reason)

RETURN_REASON_CODE        int32
RETURN_DESCRIPTION_EN    object
dtype: object

   RETURN_REASON_CODE   RETURN_DESCRIPTION_EN
0                   1       Defective product
1                   2      Incomplete product
2                   3   Wrong product ordered
3                   4   Wrong product shipped
4                   5  Unsatisfactory product

#### Order_Method

Deze dimensietabel kan 1 op 1 overgenomen worden. Er moet nog gekeken worden of dimensies die in andere dimensies zijn samengevoegd ook apart opgenomen moeten worden.

In [408]:

display(order_method.dtypes)
display(order_method)

ORDER_METHOD_CODE     int32
ORDER_METHOD_EN      object
dtype: object

   ORDER_METHOD_CODE ORDER_METHOD_EN
0                  1             Fax
1                  2       Telephone
2                  3            Mail
3                  4          E-mail
4                  5             Web
5                  7     Sales visit
6                  8         Special

#### Satisfaction

Opgesteld uit Satisfaction en Satisfaction_Type

In [409]:
satisfaction = pd.merge(go_staff_satisfaction, go_staff_satisfaction_type, left_on="SATISFACTION_TYPE_CODE", how="inner", right_on="SATISFACTION_TYPE_CODE")


display(satisfaction)

,YEAR,SALES_STAFF_CODE,SATISFACTION_TYPE_CODE,SATISFACTION_TYPE_DESCRIPTION
0,2004,100,1,Not satisfied
1,2004,101,4,Very Satisfied
2,2004,102,4,Very Satisfied
3,2004,103,3,Satisfied
4,2004,104,4,Very Satisfied
...,...,...,...,...
296,2006,94,3,Satisfied
297,2006,95,4,Very Satisfied
298,2006,96,5,More than satisfied
299,2006,98,4,Very Satisfied
300,2006,99,5,More than satisfied

#### Course

Wordt 1 op 1 overgenomen.

### Feittabellen samenstellen

#### Order_Details 
Feit #1, #2 - Geaggregeerd feit Order_Details en Order_Header

In [410]:
Order_Details_Feit = None
order_details_content = pd.merge(order_header, order_details, left_on="ORDER_NUMBER", how="inner", right_on="ORDER_NUMBER" )
order_details_content = pd.merge(order_details_content, order_method, left_on="ORDER_METHOD_CODE", how="inner", right_on="ORDER_METHOD_CODE")
order_details_content["TURNOVER"] = order_details_content["UNIT_SALE_PRICE"] * order_details_content["QUANTITY"]
order_details_content["PROFIT"] = ((order_details_content["UNIT_SALE_PRICE"] * order_details_content["QUANTITY"]) - (order_details_content["UNIT_COST"] * order_details_content["QUANTITY"]))
order_details_content["DISCOUNT_PERCENTAGE"] = ((order_details_content["UNIT_SALE_PRICE"]/order_details_content["UNIT_PRICE"]) * 100)
order_details_content["DISCOUNT_PERCENTAGE"] = order_details_content["DISCOUNT_PERCENTAGE"].round(2)

display(order_details_content.dtypes)
display(order_details_content)

ORDER_NUMBER                      int32
RETAILER_NAME                    object
RETAILER_SITE_CODE                int32
RETAILER_CONTACT_CODE             int32
SALES_STAFF_CODE                  int32
SALES_BRANCH_CODE                 int32
ORDER_DATE               datetime64[ns]
ORDER_METHOD_CODE                 int32
ORDER_DETAIL_CODE                 int32
PRODUCT_NUMBER                    int32
QUANTITY                          int32
UNIT_COST                       float64
UNIT_PRICE                      float64
UNIT_SALE_PRICE                 float64
ORDER_METHOD_EN                  object
TURNOVER                        float64
PROFIT                          float64
DISCOUNT_PERCENTAGE             float64
dtype: object

,ORDER_NUMBER,RETAILER_NAME,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_METHOD_CODE,ORDER_DETAIL_CODE,PRODUCT_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,ORDER_METHOD_EN,TURNOVER,PROFIT,DISCOUNT_PERCENTAGE
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47747,2,100,9.64,12.53,11.81,Sales visit,1181.00,217.00,94.25
1,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47994,32,254,18.25,27.37,25.10,Sales visit,6375.40,1739.90,91.71
2,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48015,35,114,19.67,26.54,24.82,Sales visit,2829.48,587.10,93.52
3,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48022,36,130,21.03,34.90,31.44,Sales visit,4087.20,1353.30,90.09
4,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48049,39,74,42.33,67.73,61.38,Sales visit,4542.12,1409.70,90.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110788,52,64,19.00,38.00,33.25,Web,2128.00,912.00,87.50
43059,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110816,56,24,9.00,18.00,15.75,Web,378.00,162.00,87.50
43060,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110827,57,40,40.00,80.00,70.00,Web,2800.00,1200.00,87.50
43061,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110914,78,32,79.19,99.00,94.05,Web,3009.60,475.52,95.00
43062,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110948,88,144,2.00,7.00,5.75,Web,828.00,540.00,82.14

#### Returned_Item
Feit #3

In [411]:
returned_item_combined = pd.merge(returned_item, return_reason, left_on="RETURN_REASON_CODE", how="inner", right_on="RETURN_REASON_CODE")
returned_item_combined = pd.merge(returned_item_combined, order_details, left_on="ORDER_DETAIL_CODE", how="inner", right_on="ORDER_DETAIL_CODE")
returned_item_combined = pd.merge(returned_item_combined, product, left_on="PRODUCT_NUMBER", how="inner", right_on="PRODUCT_NUMBER")
returned_item_combined = returned_item_combined.loc[:,["RETURN_CODE","ORDER_DETAIL_CODE","RETURN_DATE","PRODUCT_NUMBER","RETURN_QUANTITY","RETURN_REASON_CODE","RETURN_DESCRIPTION_EN"]]

display(returned_item_combined)

,RETURN_CODE,ORDER_DETAIL_CODE,RETURN_DATE,PRODUCT_NUMBER,RETURN_QUANTITY,RETURN_REASON_CODE,RETURN_DESCRIPTION_EN
0,1491,84858,2021-08-01 04:10:24,6,8,5,Unsatisfactory product
1,1492,84440,2020-12-06 18:46:19,8,2,2,Incomplete product
2,1493,84867,2021-06-24 09:23:14,8,22,4,Wrong product shipped
3,1494,84873,2021-07-21 00:00:09,8,20,3,Wrong product ordered
4,1496,84488,2020-10-07 05:13:58,17,2,1,Defective product
...,...,...,...,...,...,...,...
701,2465,114972,2021-06-06 09:22:12,66,24,3,Wrong product ordered
702,2466,114983,2021-10-06 12:31:25,71,66,5,Unsatisfactory product
703,2467,115215,2022-03-31 15:39:38,73,64,4,Wrong product shipped
704,2468,115171,2022-12-23 19:48:50,44,2,1,Defective product
705,2469,114848,2020-09-25 22:56:04,112,82,3,Wrong product ordered

#### Staff_Training
Feit #4

(Moeten er wel zoveel merges zijn? Hoe zit het met foreign keys in de Data Warehouse?)

(Misschien het overzicht zo laten en de foreign keys in de database implementeren)

Het lijkt erop dat in een sterschema elke tabel atomisch moet zijn en geen verwijzingen naar anderen moet hebben. (Met uitzondering van Feit-Dimensie)

In [412]:
staff_training_combined = pd.merge(go_staff_training, go_staff_course, left_on="COURSE_CODE", how="inner", right_on="COURSE_CODE")
staff_training_combined = pd.merge(staff_training_combined, go_staff_staff, left_on="SALES_STAFF_CODE", how="inner", right_on="SALES_STAFF_CODE")
staff_training_combined["FULL_NAME"] = staff_training_combined[["FIRST_NAME", "LAST_NAME"]].agg( ", ".join, axis=1)
staff_training_combined = pd.merge(staff_training_combined, go_staff_satisfaction, left_on=["YEAR","SALES_STAFF_CODE"], how="inner", right_on=["YEAR","SALES_STAFF_CODE"])
staff_training_combined = staff_training_combined.loc[:,["YEAR","SALES_STAFF_CODE", "FULL_NAME","POSITION_EN","COURSE_CODE","SATISFACTION_TYPE_CODE"]]

display(staff_training_combined.dtypes)
display(staff_training_combined)

YEAR                       int32
SALES_STAFF_CODE           int32
FULL_NAME                 object
POSITION_EN               object
COURSE_CODE                int32
SATISFACTION_TYPE_CODE     int32
dtype: object

,YEAR,SALES_STAFF_CODE,FULL_NAME,POSITION_EN,COURSE_CODE,SATISFACTION_TYPE_CODE
0,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,2,1
1,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,3,1
2,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,4,1
3,2005,100,"Tuomas, Savolainen",Level 2 Sales Representative,5,4
4,2006,100,"Tuomas, Savolainen",Level 2 Sales Representative,6,4
...,...,...,...,...,...,...
394,2006,98,"Eduardo, Guimarães",Level 2 Sales Representative,5,4
395,2005,99,"Helena, Lindholm",Level 3 Sales Representative,2,5
396,2004,99,"Helena, Lindholm",Level 3 Sales Representative,5,3
397,2005,99,"Helena, Lindholm",Level 3 Sales Representative,6,5
398,2005,99,"Helena, Lindholm",Level 3 Sales Representative,7,5

#### Sales_Demographic

Feit #5

#### GO_SALES_PRODUCT_FORECASTData

Feit #6

In [413]:
global GO_SALES_PRODUCT_FORECASTData
GO_SALES_PRODUCT_FORECASTData = pd.read_csv("../Assets/Week 2/GO_SALES_PRODUCT_FORECASTData.csv")
GO_SALES_PRODUCT_FORECASTData = GO_SALES_PRODUCT_FORECASTData.convert_dtypes()
display(GO_SALES_PRODUCT_FORECASTData.dtypes)
display(GO_SALES_PRODUCT_FORECASTData)

PRODUCT_NUMBER     Int64
YEAR               Int64
MONTH              Int64
EXPECTED_VOLUME    Int64
dtype: object

      PRODUCT_NUMBER  YEAR  MONTH  EXPECTED_VOLUME
0                 44  2022     12              383
1                 45  2021      1               80
2                 45  2021      2               51
3                 45  2021      3              214
4                 45  2021      4              300
...              ...   ...    ...              ...
3867             115  2022      8              282
3868             115  2022      9              920
3869             115  2022     10             1081
3870             115  2022     11              398
3871             115  2022     12              759

[3872 rows x 4 columns]

#### GO_SALES_INVENTORY_LEVELSData

Feit #7

In [414]:
global GO_SALES_INVENTORY_LEVELSData
GO_SALES_INVENTORY_LEVELSData = pd.read_csv("../Assets/Week 2/GO_SALES_INVENTORY_LEVELSData.csv", header=0, index_col=False)
GO_SALES_INVENTORY_LEVELSData = GO_SALES_INVENTORY_LEVELSData.convert_dtypes()

    
display(GO_SALES_INVENTORY_LEVELSData.dtypes)
display(GO_SALES_INVENTORY_LEVELSData)

INVENTORY_YEAR     Int64
INVENTORY_MONTH    Int64
PRODUCT_NUMBER     Int64
INVENTORY_COUNT    Int64
dtype: object

      INVENTORY_YEAR  INVENTORY_MONTH  PRODUCT_NUMBER  INVENTORY_COUNT
0               2021                4              48             1932
1               2021                4              49             1400
2               2021                4              50            21705
3               2021                4              51             9710
4               2021                4              52             5616
...              ...              ...             ...              ...
3883            2022               12             111             1128
3884            2022               12             112             7810
3885            2022               12             113             3485
3886            2022               12             114              350
3887            2022               12             115             3310

[3888 rows x 4 columns]

## Tabellen aanmaken in SQL Server

In [415]:
with open("../Assets/Week 4/Tables.sql","r") as file:
    SQL_statements = file.read()

## Data invoeren

In [416]:
#PRODUCT
for index, row in PRODUCT_REGISTRY.iterrows():
    try:
        query =  (
            f"INSERT INTO PRODUCT"
            f"(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, "
	        f"PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, "
	        f"PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) "
            f"VALUES "
            f"({row["PRODUCT_NUMBER"]}, '{row["INTRODUCTION_DATE"]}',"
            f"{row["PRODUCT_TYPE_CODE"]}, '{row["PRODUCT_TYPE_EN"]}', {row["PRODUCT_LINE_CODE"]}, "
            f"'{row["PRODUCT_LINE_EN"]}' ,{row["PRODUCTION_COST"]}, {row["MARGIN"]}, "
            f"'{row["PRODUCT_IMAGE"]}', '{row["PRODUCT_NAME"]}', '{row["DESCRIPTION"]}', "
            f" '{row["LANGUAGE"]}' )"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in sales_branch_combined.iterrows():
    try:
        query = (
            f"INSERT INTO SALES_BRANCH"
            f"(SALES_BRANCH_CODE_PK, ADDRESS1, ADDRESS2, POSTAL_ADDRESS, COUNTRY, REGION, CITY, POSTAL_ZONE)"
            f"VALUES"
            f"({row["SALES_BRANCH_CODE"]},'{row["ADDRESS1"]}','{row["ADDRESS2"]}','{row["POSTAL_ADDRESS"]}',"
            f"'{row["COUNTRY_CODE"]}','{row["REGION"]}','{row["CITY"]}','{row["POSTAL_ZONE"]}')"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()


for index, row in go_staff_course.iterrows():
    try:
        query = (
            f"INSERT INTO COURSE(COURSE_CODE_FK, DESCRIPTION) VALUES ({row["COURSE_CODE"]},'{row["COURSE_DESCRIPTION"]}')"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

#STAFF_TRAINING
for index, row in staff_training_combined.iterrows():
    try:
        query = (
            f"INSERT INTO STAFF_TRAINING"
            f"(YEAR_PK, SALES_STAFF_CODE_PK,FULL_NAME,POSITION_EN,COURSE_CODE_FK,SATISFACTION_TYPE_CODE_FK)"
            f"VALUES"
            f"({row["YEAR"]}, {row["SALES_STAFF_CODE"]},'{row["FULL_NAME"]}','{row["POSITION_EN"]}',"
            f"{row["COURSE_CODE"]}, {row["SATISFACTION_TYPE_CODE"]})"
                 )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in satisfaction.iterrows():
    try:
        query = (
            f"INSERT INTO SATISFACTION"
            f"(YEAR_PK, SALES_STAFF_CODE, SATISFACTION_TYPE_CODE, SATISFACTION_TYPE_DESCRIPTION)"
            f"VALUES({row["YEAR"]},{row["SALES_STAFF_CODE"]},"
            f"{row["SATISFACTION_TYPE_CODE"]},'{row["SATISFACTION_TYPE_DESCRIPTION"]}')"
            )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in order_method.iterrows():
    try:
        query = (
            f"INSERT INTO ORDER_METHOD"
            f"(ORDER_METHOD_CODE, ORDER_METHOD_EN)"
            f"VALUES"
            f"({row["ORDER_METHOD_CODE"]},'{row["ORDER_METHOD_EN"]}')"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in return_reason.iterrows():
    try:
        query = (
            f"INSERT INTO RETURN_REASON"
            f"(RETURN_REASON_CODE, RETURN_REASON_EN)"
            f"VALUES"
            f"({row["RETURN_REASON_CODE"]},'{row["RETURN_DESCRIPTION_EN"]}')"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in GO_SALES_INVENTORY_LEVELSData.iterrows():
    try:
        query = (
            f"INSERT INTO GO_SALES_INVENTORY_LEVELSData"
            f"(INVENTORY_YEAR, INVENTORY_MONTH, PRODUCT_NUMBER, INVENTORY_COUNT)"
            f"VALUES"
            f"({row["INVENTORY_YEAR"]},{row["INVENTORY_MONTH"]},{row["PRODUCT_NUMBER"]},{row["INVENTORY_COUNT"]})"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in GO_SALES_PRODUCT_FORECASTData.iterrows():
    try:
        query = (
        f"INSERT INTO GO_SALES_PRODUCT_FORECASTData"
        f"(PRODUCT_NUMBER, YEAR, MONTH, EXPECTED_VOLUME)"
        f"VALUES"
        f"({row["PRODUCT_NUMBER"]},{row["YEAR"]},{row["MONTH"]},{row["EXPECTED_VOLUME"]})"
                 )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

for index, row in retailer.iterrows():
    try:
        query = (
            f"INSERT INTO RETAILER"
            f"(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,"
            f"FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,"
            f"SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,"
            f"COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,"
            f"RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,"
            f"EXTENSION, FAX, E_MAIL, GENDER)"
            f"VALUES"
            f"({row["RETAILER_SITE_CODE"]},'{row["ADDRESS1"]}','{row["ADDRESS2"]}',"
            f"{row["COUNTRY_CODE"]},'{row["COUNTRY_EN"]}','{row["FLAG_IMAGE"]}','{row["REGION"]}',"
            f"'{row["CITY"]}','{row["POSTAL_ZONE"]}',"
            f"{row["ACTIVE_INDICATOR"]},{row["SALES_TERRITORY_CODE"]},"
            f"'{row["TERRITORY_NAME_EN"]}',{row["RETAILER_CODE"]},{row["RETAILER_CODEMR"]},"
            f"'{row["COMPANY_NAME"]}',{row["RETAILER_TYPE_CODE"]},'{row["RETAILER_TYPE_EN"]}'," 
            f"{row["RETAILER_CONTACT_CODE"]},'{row["FIRST_NAME"]}','{row["LAST_NAME"]}',"
            f"'{row["JOB_POSITION_EN"]}',{row["EXTENSION"]},'{row["FAX"]}','{row["E_MAIL"]}',"
            f"'{row["GENDER"]}')"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()



for index, row in order_details_content.iterrows():
    try:
        query = (
            f"INSERT INTO ORDER_DETAILS"
            f"(ORDER_NUMBER_PK,ORDER_DETAIL_CODE_PK,ORDER_DETAILS_QUANTITY,	ORDER_DETAILS_UNIT_COST,"
            f"ORDER_DETAILS_UNIT_PRICE,	ORDER_DETAILS_UNIT_SALE_PRICE,	ORDER_DETAILS_DISCOUNT_PERCENTAGE,"
            f"ORDER_DETAILS_TURNOVER,ORDER_DETAILS_PROFIT,ORDER_DATE,SALES_BRANCH_CODE_FK,"
            f"RETAILER_SITE_CODE,RETAILER_SITE_CONTACT)"
            f"VALUES"
            f"({row["ORDER_NUMBER"]},{row["ORDER_DETAIL_CODE"]},{row["QUANTITY"]},{row["UNIT_COST"]},"
            f"{row["UNIT_PRICE"]},{row["UNIT_SALE_PRICE"]},{row["DISCOUNT_PERCENTAGE"]},"
            f"{row["TURNOVER"]},{row["PROFIT"]},'{row["ORDER_DATE"]}',{row["SALES_BRANCH_CODE"]},"
            f"{row["RETAILER_SITE_CODE"]},{row["RETAILER_CONTACT_CODE"]})"
                 )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()

# for index, row in sales_staff_combined.iterrows():
#     try:
#         query = None
#         export_cursor.execute(query)
#     except pyodbc.Error:
#         print(query)
# export_cursor.commit()

# for index, row in sales_staff_combined.iterrows():
#     try:
#         query = None
#         export_cursor.execute(query)
#     except pyodbc.Error:
#         print(query)
# export_cursor.commit()



export_cursor.close()

INSERT INTO PRODUCT(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) VALUES (13, '2011-02-15 00:00:00',2, 'Tents', 1, 'Camping Equipment' ,392.57, 0.25, 'P13CE1TN2.jpg', 'Star Gazer 2', 'The Star Gazer 2 is the Great Outdoor's most versatile tent.  It is a large two-person tent that is both durable and light weight.  Packed size: 18 x 70 cm. Weight: 2.6 kg.',  'EN' )
INSERT INTO PRODUCT(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) VALUES (38, '2013-03-05 00:00:00',5, 'Lanterns', 1, 'Camping Equipment' ,20.0, 0.33, 'P38CE1LT5.jpg', 'EverGlow Kerosene', 'One of the most dependable sources of light in an emergency, this lantern is always ready and doesn't need to be recharged. Cotton wick. Height: 30 cm.',  'EN' )
INSERT INTO SALES_BRANCH(SALES_BRANCH_CODE_PK, ADDRESS1, ADDRESS2, POSTAL_ADDRESS, COUNTRY, REGION, CITY, POSTAL_ZONE)VALUES(23,'6c, rue de l'Église','None','6c, rue de l'Église, F-69002','1','None','Lyon','F-69002')
INSERT INTO SALES_BRANCH(SALES_BRANCH_CODE_PK, ADDRESS1, ADDRESS2, POSTAL_ADDRESS, COUNTRY, REGION, CITY, POSTAL_ZONE)VALUES(28,'2315 Queen's Ave','Level 2','2315 Queen's Ave, 2088','16','VIC','Melbourne','2088')

INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(114,'3278 Crest Avenue','None',3,'United States','F03','Texas','Houston','77009',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',127,'Melanie','Ayling','Assistant Purchaser',0.0,'1 (713) 524-8785','Ayling@edsstore.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(115,'272 Main Street','None',3,'United States','F03','Vermont','Montpelier','05611',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',125,'Amy','Turner','Assistant Purchaser',0.0,'1 (802) 229-9098','Turner@edsstore.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(116,'938 Jasmine Crescent','None',3,'United States','F03','Virginia','Richmond','23234',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',130,'Matthew','Bolas','District Manager',0.0,'1 (804) 226-5462','Bolas@edsstore.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(117,'325 Wayside Street','None',3,'United States','F03','Washington','Seattle','98140',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',126,'Joanne','Simmons','Site Manager',1112.0,'1 (206) 292-5489','Simmons@edsstore.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(118,'433 West Broadway','None',3,'United States','F03','Wisconsin','Madison','53722',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',128,'David','Huang','Chief Purchaser',0.0,'1 (608) 223-5803','Huang@edsstore.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(119,'4881 East Second Street','None',3,'United States','F03','Wyoming','Casper','82645',1,1,'Americas',113,82.0,'Edward's Department Store',2,'Department Store',129,'Cynthia','Walker','Chief Purchaser',0.0,'1 (307) 234-5631','Walker@edsstore.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(121,'16823 Atlantic Blvd.','None',3,'United States','F03','Florida','Jacksonville','32287',1,1,'Americas',114,0.0,'Parkland Camping Rentals',5,'Equipment Rental Store',131,'Martha','O'Rourke','District Manager',687.0,'1 (904) 221-2378','Martha@marakis.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(138,'832 Mill Avenue','Unit 17',3,'United States','F03','Arizona','Phoenix','85055',1,1,'Americas',118,86.0,'Hartman's',2,'Department Store',153,'Diane','Huang','Site Manager',0.0,'1 (602) 788-4556','Huang@hmincnet.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(139,'7773 Green Park Road','None',3,'United States','F03','Arizona','Tucson','85713',1,1,'Americas',118,86.0,'Hartman's',2,'Department Store',152,'Ingrid','Weston','District Manager',0.0,'1 (520) 575-6458','Weston@hmincnet.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(14,'500, Place d'Armes','Bureau 1061',4,'Canada','F04','Québec','Montréal','H2Y 2W2',1,1,'Americas',93,8.0,'Le Golfeur',1,'Golf Shop',10,'Frank','Smith','Chief Purchaser',2489.0,'1 (514) 741-1610','FSmith@legolfeurinc.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(140,'3866 Point Circle','None',3,'United States','F03','Arkansas','Little Rock','72287',1,1,'Americas',118,86.0,'Hartman's',2,'Department Store',150,'Clarence','Palmer','Assistant Purchaser',0.0,'1 (501) 821-7731','Palmer@hmincnet.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(141,'1201 N. State College Blvd.','None',3,'United States','F03','California','Anaheim','92815',0,1,'Americas',118,86.0,'Hartman's',2,'Department Store',149,'Angelina','Karia','District Manager',0.0,'1 (714) 563-6783','Karia@hmincnet.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(142,'603 Blueridge Crescent','None',3,'United States','F03','California','Los Angeles','90045',1,1,'Americas',118,86.0,'Hartman's',2,'Department Store',151,'Samuel','Lynch','Site Manager',456.0,'1 (310) 207-4587','Lynch@hmincnet.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(143,'92 Clark Road','None',3,'United States','F03','Nevada','Las Vegas','89123',1,1,'Americas',118,86.0,'Hartman's',2,'Department Store',154,'Henry','Cai','Assistant Purchaser',0.0,'1 (702) 362-9487','Cai@hmincnet.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(151,'1529 Kapahula Avenue','None',3,'United States','F03','Hawaii','Honolulu','96857',1,1,'Americas',121,88.0,'The Caddy's Corner',1,'Golf Shop',162,'Ryan','Livingston','Assistant Purchaser',0.0,'1 (808) 737-0961','Livingston@cc4golf.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(195,'49, boul. d'Arcole','Cedex 101',1,'France','F01','None','Paris','F-75004',1,6,'Central Europe',1,0.0,'ActiForme',5,'Equipment Rental Store',180,'André','Katz','Assistant Purchaser',0.0,'+33 1 72 25 34 53','Katz@wndee.net','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(22,'Suite 12, 801 Dundas Street','None',4,'Canada','F04','Ontario','Toronto','M8Y 4K8',1,1,'Americas',96,6.0,'Maximum Sports',8,'Sports Store',75,'Sam','O'Donnell','District Manager',0.0,'1 (416) 491-8738','SODonnell@maxsnetinc.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(26,'362 Duckworth Street','None',4,'Canada','F04','Newfoundland','St. John's','A1C 6H9',1,1,'Americas',96,6.0,'Maximum Sports',8,'Sports Store',77,'Phil','Daily','Assistant Purchaser',0.0,'1 (902) 549-1159','PDaily@maxsnetinc.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(27,'87, 2399 Somerset Avenue','None',4,'Canada','F04','Ontario','Toronto','M2P 4F6',1,1,'Americas',97,7.0,'Act'N'Up Fitness',4,'Warehouse Store',13,'Elise','Leblanc','District Manager',0.0,'1 (416) 496-5066','ELeblanc@actup9.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(28,'1501, 306 6th Avenue','None',4,'Canada','F04','Manitoba','Winnipeg','R6Y 4T5',1,1,'Americas',97,7.0,'Act'N'Up Fitness',4,'Warehouse Store',31,'Harmon','Pederson','District Manager',157.0,'1 (204) 887-7620','HPederson@actup9.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(29,'Suite 1000, 56 King Street','None',4,'Canada','F04','Ontario','Toronto','M2M 6J7',1,1,'Americas',97,7.0,'Act'N'Up Fitness',4,'Warehouse Store',15,'Guy','Lamoureux','District Manager',0.0,'1 (416) 496-7756','GLamoureux@actup9.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(30,'90, 56 Cumberland Street','None',4,'Canada','F04','Ontario','Toronto','M3R 4K8',1,1,'Americas',97,7.0,'Act'N'Up Fitness',4,'Warehouse Store',14,'Serge','Champoux','Assistant Purchaser',784.0,'1 (416) 489-3763','SChampoux@actup9.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(316,'2415 Queen's Ave','None',16,'Australia','F15','VIC','Melbourne','2088',1,4,'Asia Pacific',155,401.0,'Beach Beds Pty Ltd.',2,'Department Store',301,'Steve','Girvan','Assistant Purchaser',0.0,'+(61) 03 9532 4248','SGirvan@bbeds.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(336,'Bredgade 33','None',18,'Denmark','F17','None','København','DK-1530',1,5,'Northern Europe',161,465.0,'Preben's Tøy',6,'Outdoors Shop',327,'Svend','Larsen','Chief Purchaser',0.0,'+45 30 50 70 91','SLarsen@prebenx.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(338,'Århusgade 55','None',18,'Denmark','F17','None','Kolding','DK-6050',1,5,'Northern Europe',161,465.0,'Preben's Tøy',6,'Outdoors Shop',329,'Anders','Schmidt','Assistant Purchaser',0.0,'+45 76 57 89 41','ASchmidt@prebenx.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(339,'H.C. Andersens Gade 91','None',18,'Denmark','F17','None','Roskilde','DK-2030',1,5,'Northern Europe',161,465.0,'Preben's Tøy',6,'Outdoors Shop',330,'Mette','Andersen','Assistant Purchaser',0.0,'+45 43 70 15 93','MAndersen@prebenx.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(340,'Europavej 99','None',18,'Denmark','F17','None','Aarhus','DK-8320',1,5,'Northern Europe',161,465.0,'Preben's Tøy',6,'Outdoors Shop',331,'Mikkel','Nielsen','Stock Manager',0.0,'+45 87 41 34 04','MNielsen@prebenx.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(341,'Bronzevej 18','None',18,'Denmark','F17','None','Birkerød','DK-2750',1,5,'Northern Europe',161,465.0,'Preben's Tøy',6,'Outdoors Shop',332,'Jørgen','Nygaard','Site Manager',456.0,'+45 22 29 54 21','JNygaard@prebenx.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(393,'11 The Golf Links','None',9,'United Kingdom','F09','Hampshire','Southampton','SO30 0PZ',1,6,'Central Europe',178,0.0,'Beck's Sports Store',8,'Sports Store',401,'Joanne','Wallen','Chief Purchaser',0.0,'+(44) 1489 790458','JWallen@beckssportsstore.com','F')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(404,'Bridge Court','21 Bridge Street',9,'United Kingdom','F09','Sussex','Brighton','BN2 3AL',1,6,'Central Europe',178,0.0,'Beck's Sports Store',8,'Sports Store',412,'Peter','Kirwan','Stock Manager',0.0,'+(44) 1273 501464','PKirwan@beckssportsstore.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(405,'Canada House','Station Road',9,'United Kingdom','F09','None','London','E10 5AQ',1,6,'Central Europe',178,0.0,'Beck's Sports Store',8,'Sports Store',413,'Stephen','Mathieson','Site Assistant Manager',0.0,'+(44) 171 2510627','SMathieson@beckssportsstore.com','M')
INSERT INTO RETAILER(RETAILER_SITE_CODE, ADDRESS1, ADDRESS2, COUNTRY_CODE, COUNTRY_EN,FLAG_IMAGE, REGION, CITY, POSTAL_ZONE, ACTIVE_INDICATOR,SALES_TERRITORY_CODE, TERRITORY_NAME_EN, RETAILER_CODE, RETAILER_CODEMR,COMPANY_NAME, RETAILER_TYPE_CODE, RETAILER_TYPE_EN,RETAILER_CONTACT_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN,EXTENSION, FAX, E_MAIL, GENDER)VALUES(409,'The Valley Centre','Friar Street',9,'United Kingdom','F09','None','London','E17 3DP',1,6,'Central Europe',178,0.0,'Beck's Sports Store',8,'Sports Store',417,'Byron','Crofton','Chief Purchaser',0.0,'+(44) 181 3492488','BCrofton@beckssportsstore.com','M')

# Quick Commands

## Verbreek verbinding met de database

In [417]:
# export_cursor.close()