# Practicumopdracht 3 Week 4

## Imports

In [19]:
import pandas as pd
import pyodbc
import numpy
import sqlite3
from decimal import Decimal

## Database Connectie SQL Server

In [20]:
laptop = 'KNIGHTANON-LAPT\\SQLEXPRESS'
local = '(localdb)\\MSSQLLocalDB'
local2 = 'localhost'
desktop = 'KNIGHTANON-DESK\\SQLEXPRESS'
database = 'GreatOutdoorsDW'

DB = {
    'servername': desktop,
    'database' : database
}

export_conn = pyodbc.connect('DRIVER={SQL Server};' +
                             'SERVER='+ DB['servername'] + ';'
                            #  'DATABASE='+DB['database'] +';'
                             +'Trusted_Connection=yes'
                            #  +'integrated security = true' 
                             )
export_cursor = export_conn.cursor()
export_cursor.execute("CREATE DATABASE GreatOutdoorsDW")
export_cursor.execute("USE GreatOutdoorsDW")

export_cursor

## Database Connectie Brontabellen

In [21]:
sales_con = None
crm_con = None
staff_con = None

def dataframe() : 
    try : 
        global sales_con 
        sales_con = sqlite3.connect("../Assets/Week 2/go_sales.sqlite")
        print("Connected to go_sales sqlite.")

        global crm_con 
        crm_con = sqlite3.connect("../Assets/Week 2/go_crm.sqlite")
        print("Connected to go_crm sqlite.")

        global staff_con 
        staff_con = sqlite3.connect("../Assets/Week 2/go_staff.sqlite")
        print("Connected to go_staff sqlite.")


    except sqlite3.Error as error: 
        print("Failed to read data from sqlite table", error)

dataframe()

Connected to go_sales sqlite.
Connected to go_crm sqlite.
Connected to go_staff sqlite.

### Tabellen inlezen

#### GO_CRM

In [22]:
# go_crm

global go_crm_age_group
go_crm_age_group = pd.read_sql_query("SELECT * FROM {}".format("age_group"),crm_con)

global go_crm_country
go_crm_country = pd.read_sql_query("SELECT * FROM {}".format("country"),crm_con)

global go_crm_retailer
go_crm_retailer = pd.read_sql_query("SELECT * FROM {}".format("retailer"),crm_con)

global go_crm_retailer_contact
go_crm_retailer_contact = pd.read_sql_query("SELECT * FROM {}".format("retailer_contact"),crm_con)

global go_crm_retailer_headquarters
go_crm_retailer_headquarters = pd.read_sql_query("SELECT * FROM {}".format("retailer_headquarters"),crm_con)

global go_crm_retailer_segment
go_crm_retailer_segment = pd.read_sql_query("SELECT * FROM {}".format("retailer_segment"),crm_con)

global go_crm_retailer_site
go_crm_retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),crm_con)

global go_crm_retailer_type
go_crm_retailer_type = pd.read_sql_query("SELECT * FROM {}".format("retailer_type"),crm_con)

global go_crm_sales_demographic
go_crm_sales_demographic = pd.read_sql_query("SELECT * FROM {}".format("sales_demographic"),crm_con)

global go_crm_sales_territory
go_crm_sales_territory = pd.read_sql_query("SELECT * FROM {}".format("sales_territory"),crm_con)

#### GO_STAFF

In [23]:
# go_staff

global go_staff_course 
go_staff_course = pd.read_sql_query("SELECT * FROM {}".format("course"),staff_con)

global go_staff_sales_branch 
go_staff_sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),staff_con)

global go_staff_staff
go_staff_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),staff_con)

global go_staff_satisfaction
go_staff_satisfaction = pd.read_sql_query("SELECT * FROM {}".format("satisfaction"),staff_con)

global go_staff_satisfaction_type
go_staff_satisfaction_type = pd.read_sql_query("SELECT * FROM {}".format("satisfaction_type"),staff_con)

#### GO_SALES

In [24]:
#go_sales
global product
product = pd.read_sql_query("SELECT * FROM {}".format("product"),sales_con)

global product_type
product_type = pd.read_sql_query("SELECT * FROM {}".format("product_type"),sales_con)

global product_line
product_line = pd.read_sql_query("SELECT * FROM {}".format("product_line"),sales_con)

global sales_staff
sales_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),sales_con)

global sales_branch
sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),sales_con)

global retailer_site
retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),sales_con)

global country
country = pd.read_sql_query("SELECT * FROM {}".format("country"),sales_con)

global order_header
order_header = pd.read_sql_query("SELECT * FROM {}".format("order_header"),sales_con)

global order_details
order_details = pd.read_sql_query("SELECT * FROM {}".format("order_details"),sales_con)

global target
target = pd.read_sql_query("SELECT * FROM {}".format("sales_targetdata"),sales_con)

global returned_item
returned_item = pd.read_sql_query("SELECT * FROM {}".format("returned_item"),sales_con)

global return_reason
return_reason = pd.read_sql_query("SELECT * FROM {}".format("return_reason"),sales_con)

### Tabeltypes converteren

PRODUCT_NUMBER        object
INTRODUCTION_DATE     object
PRODUCT_TYPE_CODE     object
PRODUCTION_COST      float64
MARGIN               float64
PRODUCT_IMAGE         object
LANGUAGE              object
PRODUCT_NAME          object
DESCRIPTION           object
TRIAL888              object
dtype: object

## Data samenvoegen