# Practicumopdracht 3 Week 4

## Imports

In [87]:
import pandas as pd
import pyodbc
import numpy
import sqlite3
from decimal import Decimal

## Database Connectie SQL Server

In [88]:
laptop = 'KNIGHTANON-LAPT\\SQLEXPRESS'
local = '(localdb)\\MSSQLLocalDB'
local2 = 'localhost'
desktop = 'KNIGHTANON-DESK\\SQLEXPRESS'
database = 'GreatOutdoorsDW'

DB = {
    'servername': laptop,
    'database' : database
}

export_conn = pyodbc.connect('DRIVER={SQL Server};' +
                             'SERVER='+ DB['servername'] + ';'
                             'DATABASE='+DB['database'] +';'
                             +'Trusted_Connection=yes'
                            #  +'integrated security = true' 
                             )
export_cursor = export_conn.cursor()
# export_cursor.execute("CREATE DATABASE GreatOutdoorsDW")
# export_cursor.execute("USE GreatOutdoorsDW")

export_cursor

## Database Connectie Brontabellen

In [89]:
sales_con = None
crm_con = None
staff_con = None

def dataframe() : 
    try : 
        global sales_con 
        sales_con = sqlite3.connect("../Assets/Week 2/go_sales.sqlite")
        print("Connected to go_sales sqlite.")

        global crm_con 
        crm_con = sqlite3.connect("../Assets/Week 2/go_crm.sqlite")
        print("Connected to go_crm sqlite.")

        global staff_con 
        staff_con = sqlite3.connect("../Assets/Week 2/go_staff.sqlite")
        print("Connected to go_staff sqlite.")


    except sqlite3.Error as error: 
        print("Failed to read data from sqlite table", error)

dataframe()

Connected to go_sales sqlite.
Connected to go_crm sqlite.
Connected to go_staff sqlite.

### Tabellen inlezen

#### GO_CRM

In [90]:
# go_crm

global go_crm_age_group
go_crm_age_group = pd.read_sql_query("SELECT * FROM {}".format("age_group"),crm_con)
go_crm_age_group = go_crm_age_group[go_crm_age_group.columns.drop(list(go_crm_age_group.filter(regex="TRIAL")))]


global go_crm_country
go_crm_country = pd.read_sql_query("SELECT * FROM {}".format("country"),crm_con)
go_crm_country = go_crm_country[go_crm_country.columns.drop(list(go_crm_country.filter(regex="TRIAL")))]

global go_crm_retailer
go_crm_retailer = pd.read_sql_query("SELECT * FROM {}".format("retailer"),crm_con)
go_crm_retailer = go_crm_retailer[go_crm_retailer.columns.drop(list(go_crm_retailer.filter(regex="TRIAL")))]

global go_crm_retailer_contact
go_crm_retailer_contact = pd.read_sql_query("SELECT * FROM {}".format("retailer_contact"),crm_con)
go_crm_retailer_contact = go_crm_retailer_contact[go_crm_retailer_contact.columns.drop(list(go_crm_retailer_contact.filter(regex="TRIAL")))]

global go_crm_retailer_headquarters
go_crm_retailer_headquarters = pd.read_sql_query("SELECT * FROM {}".format("retailer_headquarters"),crm_con)
go_crm_retailer_headquarters = go_crm_retailer_headquarters[go_crm_retailer_headquarters.columns.drop(list(go_crm_retailer_headquarters.filter(regex="TRIAL")))]

global go_crm_retailer_segment
go_crm_retailer_segment = pd.read_sql_query("SELECT * FROM {}".format("retailer_segment"),crm_con)
go_crm_retailer_segment = go_crm_retailer_segment[go_crm_retailer_segment.columns.drop(list(go_crm_retailer_segment.filter(regex="TRIAL")))]

global go_crm_retailer_site
go_crm_retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),crm_con)
go_crm_retailer_site = go_crm_retailer_site[go_crm_retailer_site.columns.drop(list(go_crm_retailer_site.filter(regex="TRIAL")))]

global go_crm_retailer_type
go_crm_retailer_type = pd.read_sql_query("SELECT * FROM {}".format("retailer_type"),crm_con)
go_crm_retailer_type = go_crm_retailer_type[go_crm_retailer_type.columns.drop(list(go_crm_retailer_type.filter(regex="TRIAL")))]

global go_crm_sales_demographic
go_crm_sales_demographic = pd.read_sql_query("SELECT * FROM {}".format("sales_demographic"),crm_con)
go_crm_sales_demographic = go_crm_sales_demographic[go_crm_sales_demographic.columns.drop(list(go_crm_sales_demographic.filter(regex="TRIAL")))]

global go_crm_sales_territory
go_crm_sales_territory = pd.read_sql_query("SELECT * FROM {}".format("sales_territory"),crm_con)
go_crm_sales_territory = go_crm_sales_territory[go_crm_sales_territory.columns.drop(list(go_crm_sales_territory.filter(regex="TRIAL")))]

#### GO_STAFF

In [91]:
# go_staff

global go_staff_course 
go_staff_course = pd.read_sql_query("SELECT * FROM {}".format("course"),staff_con)
go_staff_course = go_staff_course[go_staff_course.columns.drop(list(go_staff_course.filter(regex="TRIAL")))]


global go_staff_sales_branch 
go_staff_sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),staff_con)
go_staff_sales_branch = go_staff_sales_branch[go_staff_sales_branch.columns.drop(list(go_staff_sales_branch.filter(regex="TRIAL")))]


global go_staff_staff
go_staff_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),staff_con)
go_staff_staff = go_staff_staff[go_staff_staff.columns.drop(list(go_staff_staff.filter(regex="TRIAL")))]


global go_staff_satisfaction
go_staff_satisfaction = pd.read_sql_query("SELECT * FROM {}".format("satisfaction"),staff_con)
go_staff_satisfaction = go_staff_satisfaction[go_staff_satisfaction.columns.drop(list(go_staff_satisfaction.filter(regex="TRIAL")))]


global go_staff_satisfaction_type
go_staff_satisfaction_type = pd.read_sql_query("SELECT * FROM {}".format("satisfaction_type"),staff_con)
go_staff_satisfaction_type = go_staff_satisfaction_type[go_staff_satisfaction_type.columns.drop(list(go_staff_satisfaction_type.filter(regex="TRIAL")))]


global go_staff_training
go_staff_training = pd.read_sql_query("SELECT * FROM {}".format("training"),staff_con)
go_staff_training = go_staff_training = go_staff_training[go_staff_training.columns.drop(list(go_staff_training.filter(regex="TRIAL")))]

#### GO_SALES

In [92]:
#go_sales
global product
product = pd.read_sql_query("SELECT * FROM {}".format("product"),sales_con)
product = product[product.columns.drop(list(product.filter(regex="TRIAL")))]


global product_type
product_type = pd.read_sql_query("SELECT * FROM {}".format("product_type"),sales_con)
product_type = product_type[product_type.columns.drop(list(product_type.filter(regex="TRIAL")))]

global product_line
product_line = pd.read_sql_query("SELECT * FROM {}".format("product_line"),sales_con)
product_line = product_line[product_line.columns.drop(list(product_line.filter(regex="TRIAL")))]

global sales_staff
sales_staff = pd.read_sql_query("SELECT * FROM {}".format("sales_staff"),sales_con)
sales_staff = sales_staff[sales_staff.columns.drop(list(sales_staff.filter(regex="TRIAL")))]

global sales_branch
sales_branch = pd.read_sql_query("SELECT * FROM {}".format("sales_branch"),sales_con)
sales_branch = sales_branch[sales_branch.columns.drop(list(sales_branch.filter(regex="TRIAL")))]

global retailer_site
retailer_site = pd.read_sql_query("SELECT * FROM {}".format("retailer_site"),sales_con)
retailer_site = retailer_site[retailer_site.columns.drop(list(retailer_site.filter(regex="TRIAL")))]

global country
country = pd.read_sql_query("SELECT * FROM {}".format("country"),sales_con)
country = country[country.columns.drop(list(country.filter(regex="TRIAL")))]

global order_header
order_header = pd.read_sql_query("SELECT * FROM {}".format("order_header"),sales_con)
order_header = order_header[order_header.columns.drop(list(order_header.filter(regex="TRIAL")))]

global order_method
order_method = pd.read_sql_query("SELECT * FROM {}".format("order_method"),sales_con)
order_method = order_method[order_method.columns.drop(list(order_method.filter(regex="TRIAL")))]

global order_details
order_details = pd.read_sql_query("SELECT * FROM {}".format("order_details"),sales_con)
order_details = order_details[order_details.columns.drop(list(order_details.filter(regex="TRIAL")))]

global returned_item
returned_item = pd.read_sql_query("SELECT * FROM {}".format("returned_item"),sales_con)
returned_item = returned_item[returned_item.columns.drop(list(returned_item.filter(regex="TRIAL")))]

global return_reason
return_reason = pd.read_sql_query("SELECT * FROM {}".format("return_reason"),sales_con)
return_reason = return_reason[return_reason.columns.drop(list(return_reason.filter(regex="TRIAL")))]

global SALES_TARGETData
SALES_TARGETData = pd.read_sql_query("SELECT * FROM {}".format("SALES_TARGETData"),sales_con)
SALES_TARGETData = SALES_TARGETData[SALES_TARGETData.columns.drop(list(SALES_TARGETData.filter(regex="TRIAL")))]

### Tabeltypes converteren

#### GO_CRM

In [93]:

go_crm = [go_crm_age_group,go_crm_country,go_crm_retailer,go_crm_retailer_contact,go_crm_retailer_headquarters,
          go_crm_retailer_segment,go_crm_retailer_site,go_crm_retailer_type,go_crm_sales_demographic,go_crm_sales_territory]

go_crm_age_group["AGE_GROUP_CODE"] = go_crm_age_group["AGE_GROUP_CODE"].astype(int)
go_crm_age_group["LOWER_AGE"] = go_crm_age_group["LOWER_AGE"].astype(int)
go_crm_age_group["UPPER_AGE"] = go_crm_age_group["UPPER_AGE"].astype(int)

go_crm_country["COUNTRY_CODE"] = go_crm_country["COUNTRY_CODE"].astype(int)
go_crm_country["SALES_TERRITORY_CODE"] = go_crm_country["SALES_TERRITORY_CODE"].astype(int)

go_crm_retailer["RETAILER_CODE"] = go_crm_retailer["RETAILER_CODE"].astype(int)
go_crm_retailer["RETAILER_CODEMR"] = go_crm_retailer["RETAILER_CODEMR"].astype(float)
go_crm_retailer["RETAILER_TYPE_CODE"] = go_crm_retailer["RETAILER_TYPE_CODE"].astype(int)

go_crm_retailer_contact["EXTENSION"] = go_crm_retailer_contact["EXTENSION"].astype(float)
go_crm_retailer_contact['RETAILER_CONTACT_CODE'] = go_crm_retailer_contact["RETAILER_CONTACT_CODE"].astype(int)
go_crm_retailer_contact["RETAILER_SITE_CODE"] = go_crm_retailer_contact["RETAILER_SITE_CODE"].astype(int)

go_crm_retailer_headquarters["RETAILER_CODEMR"] = go_crm_retailer_headquarters["RETAILER_CODEMR"].astype(float)
go_crm_retailer_headquarters["COUNTRY_CODE"] = go_crm_retailer_headquarters["COUNTRY_CODE"].astype(int)
go_crm_retailer_headquarters["SEGMENT_CODE"] = go_crm_retailer_headquarters["SEGMENT_CODE"].astype(int)

go_crm_retailer_segment["SEGMENT_CODE"] = go_crm_retailer_segment["SEGMENT_CODE"].astype(int)

go_crm_retailer_site["RETAILER_CODE"] = go_crm_retailer_site["RETAILER_CODE"].astype(int)
go_crm_retailer_site["RETAILER_SITE_CODE"] = go_crm_retailer_site["RETAILER_SITE_CODE"].astype(int)
go_crm_retailer_site["COUNTRY_CODE"] = go_crm_retailer_site["COUNTRY_CODE"].astype(int)
go_crm_retailer_site["ACTIVE_INDICATOR"] = go_crm_retailer_site["ACTIVE_INDICATOR"].astype(int)

go_crm_retailer_type["RETAILER_TYPE_CODE"] = go_crm_retailer_type["RETAILER_TYPE_CODE"].astype(int)

go_crm_sales_territory["SALES_TERRITORY_CODE"] = go_crm_sales_territory["SALES_TERRITORY_CODE"].astype(int)


for table in go_crm:
    display(table.dtypes)

AGE_GROUP_CODE    int32
UPPER_AGE         int32
LOWER_AGE         int32
dtype: object

COUNTRY_CODE             int32
COUNTRY_EN              object
FLAG_IMAGE              object
SALES_TERRITORY_CODE     int32
dtype: object

RETAILER_CODE           int32
RETAILER_CODEMR       float64
COMPANY_NAME           object
RETAILER_TYPE_CODE      int32
dtype: object

RETAILER_CONTACT_CODE      int32
RETAILER_SITE_CODE         int32
FIRST_NAME                object
LAST_NAME                 object
JOB_POSITION_EN           object
EXTENSION                float64
FAX                       object
E_MAIL                    object
GENDER                    object
dtype: object

RETAILER_CODEMR    float64
RETAILER_NAME       object
ADDRESS1            object
ADDRESS2            object
CITY                object
REGION              object
POSTAL_ZONE         object
COUNTRY_CODE         int32
PHONE               object
FAX                 object
SEGMENT_CODE         int32
dtype: object

SEGMENT_CODE            int32
LANGUAGE               object
SEGMENT_NAME           object
SEGMENT_DESCRIPTION    object
dtype: object

RETAILER_SITE_CODE     int32
RETAILER_CODE          int32
ADDRESS1              object
ADDRESS2              object
CITY                  object
REGION                object
POSTAL_ZONE           object
COUNTRY_CODE           int32
ACTIVE_INDICATOR       int32
dtype: object

RETAILER_TYPE_CODE     int32
RETAILER_TYPE_EN      object
dtype: object

DEMOGRAPHIC_CODE    object
RETAILER_CODEMR     object
AGE_GROUP_CODE      object
SALES_PERCENT       object
dtype: object

SALES_TERRITORY_CODE     int32
TERRITORY_NAME_EN       object
dtype: object

#### GO_STAFF

In [94]:
go_staff = [go_staff_course, go_staff_sales_branch,go_staff_staff,go_staff_satisfaction, go_staff_satisfaction_type, go_staff_training]

go_staff_course["COURSE_CODE"] = go_staff_course["COURSE_CODE"].astype(int)

go_staff_sales_branch["COUNTRY_CODE"] = go_staff_sales_branch["COUNTRY_CODE"].astype(int)
go_staff_sales_branch["SALES_BRANCH_CODE"] = go_staff_sales_branch["SALES_BRANCH_CODE"].astype(int)

go_staff_staff["SALES_STAFF_CODE"] = go_staff_staff["SALES_STAFF_CODE"].astype(int)
go_staff_staff["SALES_BRANCH_CODE"] = go_staff_staff["SALES_BRANCH_CODE"].astype(int)
go_staff_staff["MANAGER_CODE"] = go_staff_staff["MANAGER_CODE"].astype(int)
go_staff_staff["EXTENSION"] = go_staff_staff["EXTENSION"].astype(float)
go_staff_staff["DATE_HIRED"] = pd.to_datetime(go_staff_staff["DATE_HIRED"])

go_staff_satisfaction["SALES_STAFF_CODE"] = go_staff_satisfaction["SALES_STAFF_CODE"].astype(int)
go_staff_satisfaction["SATISFACTION_TYPE_CODE"] = go_staff_satisfaction["SATISFACTION_TYPE_CODE"].astype(int)
# wat voor datatype for Year? Kijken naar dimensiewaardes
# losse gedeeltes van datetimes (eg. dag, jaar) opslaan als integers
go_staff_satisfaction["YEAR"] = go_staff_satisfaction["YEAR"].astype(int)

go_staff_satisfaction_type["SATISFACTION_TYPE_CODE"] = go_staff_satisfaction_type["SATISFACTION_TYPE_CODE"].astype(int)

go_staff_training["SALES_STAFF_CODE"] = go_staff_training["SALES_STAFF_CODE"].astype(int)
go_staff_training["COURSE_CODE"] = go_staff_training["COURSE_CODE"].astype(int)
go_staff_training["YEAR"] = go_staff_training["YEAR"].astype(int)


for table in go_staff:
    # table = table.drop("TRIAL633", axis=1)
    table = table[table.columns.drop(list(table.filter(regex="TRIAL")))]
    display(table.dtypes)

C:\Users\arcde\AppData\Local\Temp\ipykernel_17272\865043711.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  go_staff_staff["DATE_HIRED"] = pd.to_datetime(go_staff_staff["DATE_HIRED"])

COURSE_CODE            int32
COURSE_DESCRIPTION    object
dtype: object

SALES_BRANCH_CODE     int32
ADDRESS1             object
ADDRESS2             object
CITY                 object
REGION               object
POSTAL_ZONE          object
COUNTRY_CODE          int32
dtype: object

SALES_STAFF_CODE              int32
FIRST_NAME                   object
LAST_NAME                    object
POSITION_EN                  object
WORK_PHONE                   object
EXTENSION                   float64
FAX                          object
EMAIL                        object
DATE_HIRED           datetime64[ns]
SALES_BRANCH_CODE             int32
MANAGER_CODE                  int32
dtype: object

YEAR                      int32
SALES_STAFF_CODE          int32
SATISFACTION_TYPE_CODE    int32
dtype: object

SATISFACTION_TYPE_CODE            int32
SATISFACTION_TYPE_DESCRIPTION    object
dtype: object

YEAR                int32
SALES_STAFF_CODE    int32
COURSE_CODE         int32
dtype: object

#### GO_SALES

In [95]:
go_sales = [SALES_TARGETData,country,order_details,order_header,
            order_method,product,product_line,product_type,returned_item,
            return_reason, sales_staff,sales_branch,retailer_site]

SALES_TARGETData["Id"] = SALES_TARGETData["Id"].astype(int)
SALES_TARGETData["SALES_STAFF_CODE"] = SALES_TARGETData["SALES_STAFF_CODE"].astype(int)
SALES_TARGETData["SALES_PERIOD"] = SALES_TARGETData["SALES_PERIOD"].astype(int)
SALES_TARGETData["PRODUCT_NUMBER"] = SALES_TARGETData["PRODUCT_NUMBER"].astype(int)
SALES_TARGETData["SALES_TARGET"] = SALES_TARGETData["SALES_TARGET"].astype(int)
SALES_TARGETData["RETAILER_CODE"] = SALES_TARGETData["RETAILER_CODE"].astype(int)
# datatype voor sales_year ?

country["COUNTRY_CODE"] = country["COUNTRY_CODE"].astype(int)

order_details["ORDER_DETAIL_CODE"] = order_details["ORDER_DETAIL_CODE"].astype(int)
order_details["ORDER_NUMBER"] = order_details["ORDER_NUMBER"].astype(int)
order_details["PRODUCT_NUMBER"] = order_details["PRODUCT_NUMBER"].astype(int)
order_details["QUANTITY"] = order_details["QUANTITY"].astype(int)
order_details["UNIT_COST"] = order_details["UNIT_COST"].apply(float)
order_details["UNIT_PRICE"] = order_details["UNIT_PRICE"].apply(float)
order_details["UNIT_SALE_PRICE"] = order_details["UNIT_SALE_PRICE"].apply(float)

order_header["ORDER_NUMBER"] = order_header["ORDER_NUMBER"].astype(int)
order_header["RETAILER_SITE_CODE"] = order_header["RETAILER_SITE_CODE"].astype(int)
order_header["RETAILER_CONTACT_CODE"] = order_header["RETAILER_CONTACT_CODE"].astype(int)
order_header["SALES_STAFF_CODE"] = order_header["SALES_STAFF_CODE"].astype(int)
order_header["SALES_BRANCH_CODE"] = order_header["SALES_BRANCH_CODE"].astype(int)
order_header["ORDER_DATE"] = pd.to_datetime(order_header["ORDER_DATE"])
order_header["ORDER_METHOD_CODE"] = order_header["ORDER_METHOD_CODE"].astype(int)

order_method["ORDER_METHOD_CODE"] = order_method["ORDER_METHOD_CODE"].astype(int)

product["PRODUCT_NUMBER"] = product["PRODUCT_NUMBER"].astype(int)
product["INTRODUCTION_DATE"] = pd.to_datetime(product["INTRODUCTION_DATE"])
product["PRODUCT_TYPE_CODE"] = product["PRODUCT_TYPE_CODE"].astype(int)
product["PRODUCTION_COST"] = product["PRODUCTION_COST"].astype(float)
product["MARGIN"] = product["MARGIN"].astype(float)

product_line["PRODUCT_LINE_CODE"] = product_line["PRODUCT_LINE_CODE"].astype(int)

product_type["PRODUCT_LINE_CODE"] = product_type["PRODUCT_LINE_CODE"].astype(int)
product_type["PRODUCT_TYPE_CODE"] = product_type["PRODUCT_TYPE_CODE"].astype(int)

returned_item["RETURN_CODE"] = returned_item["RETURN_CODE"].astype(int)
returned_item["RETURN_DATE"] = pd.to_datetime(returned_item["RETURN_DATE"], format="%d-%m-%Y %H:%M:%S")
returned_item["ORDER_DETAIL_CODE"] = returned_item["ORDER_DETAIL_CODE"].astype(int)
returned_item["RETURN_REASON_CODE"] = returned_item["RETURN_REASON_CODE"].astype(int)
returned_item["RETURN_QUANTITY"] = returned_item["RETURN_QUANTITY"].astype(int)

return_reason["RETURN_REASON_CODE"] = return_reason["RETURN_REASON_CODE"].astype(int)

sales_staff["SALES_STAFF_CODE"] = sales_staff["SALES_STAFF_CODE"].astype(int)
sales_staff["EXTENSION"] = sales_staff["EXTENSION"].astype(float)
sales_staff["DATE_HIRED"] = pd.to_datetime(sales_staff["DATE_HIRED"])
sales_staff["SALES_BRANCH_CODE"] = sales_staff["SALES_BRANCH_CODE"].astype(int) 

sales_branch["SALES_BRANCH_CODE"] = sales_branch["SALES_BRANCH_CODE"].astype(int)
sales_branch["COUNTRY_CODE"] = sales_branch["COUNTRY_CODE"].astype(int)

retailer_site["RETAILER_SITE_CODE"] = retailer_site["RETAILER_SITE_CODE"].astype(int)
retailer_site["RETAILER_CODE"] = retailer_site["RETAILER_CODE"].astype(int)
retailer_site["COUNTRY_CODE"] = retailer_site["COUNTRY_CODE"].astype(int)
retailer_site["ACTIVE_INDICATOR"] = retailer_site["ACTIVE_INDICATOR"].astype(int)

for table in go_sales:
    display(table.dtypes)

C:\Users\arcde\AppData\Local\Temp\ipykernel_17272\933722837.py:34: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  product["INTRODUCTION_DATE"] = pd.to_datetime(product["INTRODUCTION_DATE"])
C:\Users\arcde\AppData\Local\Temp\ipykernel_17272\933722837.py:54: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  sales_staff["DATE_HIRED"] = pd.to_datetime(sales_staff["DATE_HIRED"])

Id                   int32
SALES_STAFF_CODE     int32
SALES_YEAR          object
SALES_PERIOD         int32
RETAILER_NAME       object
PRODUCT_NUMBER       int32
SALES_TARGET         int32
RETAILER_CODE        int32
dtype: object

COUNTRY_CODE      int32
COUNTRY          object
LANGUAGE         object
CURRENCY_NAME    object
dtype: object

ORDER_DETAIL_CODE      int32
ORDER_NUMBER           int32
PRODUCT_NUMBER         int32
QUANTITY               int32
UNIT_COST            float64
UNIT_PRICE           float64
UNIT_SALE_PRICE      float64
dtype: object

ORDER_NUMBER                      int32
RETAILER_NAME                    object
RETAILER_SITE_CODE                int32
RETAILER_CONTACT_CODE             int32
SALES_STAFF_CODE                  int32
SALES_BRANCH_CODE                 int32
ORDER_DATE               datetime64[ns]
ORDER_METHOD_CODE                 int32
dtype: object

ORDER_METHOD_CODE     int32
ORDER_METHOD_EN      object
dtype: object

PRODUCT_NUMBER                int32
INTRODUCTION_DATE    datetime64[ns]
PRODUCT_TYPE_CODE             int32
PRODUCTION_COST             float64
MARGIN                      float64
PRODUCT_IMAGE                object
LANGUAGE                     object
PRODUCT_NAME                 object
DESCRIPTION                  object
dtype: object

PRODUCT_LINE_CODE     int32
PRODUCT_LINE_EN      object
dtype: object

PRODUCT_TYPE_CODE     int32
PRODUCT_LINE_CODE     int32
PRODUCT_TYPE_EN      object
dtype: object

RETURN_CODE                    int32
RETURN_DATE           datetime64[ns]
ORDER_DETAIL_CODE              int32
RETURN_REASON_CODE             int32
RETURN_QUANTITY                int32
dtype: object

RETURN_REASON_CODE        int32
RETURN_DESCRIPTION_EN    object
dtype: object

SALES_STAFF_CODE              int32
FIRST_NAME                   object
LAST_NAME                    object
POSITION_EN                  object
WORK_PHONE                   object
EXTENSION                   float64
FAX                          object
EMAIL                        object
DATE_HIRED           datetime64[ns]
SALES_BRANCH_CODE             int32
dtype: object

SALES_BRANCH_CODE     int32
ADDRESS1             object
ADDRESS2             object
CITY                 object
REGION               object
POSTAL_ZONE          object
COUNTRY_CODE          int32
dtype: object

RETAILER_SITE_CODE     int32
RETAILER_CODE          int32
ADDRESS1              object
ADDRESS2              object
CITY                  object
REGION                object
POSTAL_ZONE           object
COUNTRY_CODE           int32
ACTIVE_INDICATOR       int32
dtype: object

### Data opschonen

In [96]:
# De bedoeling hier is om ervoor te zorgen dat data zich in de goede kolommen bevindt.
# Dus geen plaatsnaam waar een prijs verwacht wordt.

#10-3-2024 - De nieuwe SQLite database bestanden dat op brightspace staan lijken schoon aangeleverd te zijn.

## Data samenvoegen

### Dimensietabellen

#### Product
Samengestelde dimensietabel bestaande uit Product, Product_Type, Product_Line

In [97]:
produc_types_content = pd.merge(product_type,product_line, left_on="PRODUCT_LINE_CODE", how="inner", right_on="PRODUCT_LINE_CODE")

PRODUCT_REGISTRY = product.merge(produc_types_content, left_on="PRODUCT_TYPE_CODE", how="inner", right_on="PRODUCT_TYPE_CODE")

display(PRODUCT_REGISTRY)

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION,PRODUCT_LINE_CODE,PRODUCT_TYPE_EN,PRODUCT_LINE_EN
0,1,2011-02-15,1,4.00,0.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",1,Cooking Gear,Camping Equipment
1,10,2011-02-15,1,10.00,0.40,P10CE1CG1.jpg,EN,TrailChef Utensils,"Spoon, fork and knife set made of a light yet ...",1,Cooking Gear,Camping Equipment
2,100,2011-02-15,17,3.00,0.50,P100OP4FA17.jpg,EN,Insect Bite Relief,The Insect Bite Relief helps the itching and s...,4,First Aid,Outdoor Protection
3,101,2019-12-15,18,305.54,0.43,P101GE5IR18.jpg,EN,Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...,5,Irons,Golf Equipment
4,102,2019-12-10,18,380.95,0.51,P102GE5IR18.jpg,EN,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...,5,Irons,Golf Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...
110,95,2011-02-15,16,3.00,0.50,P91OP4SS16.jpg,EN,Sun Shield,"PABA free sunscreen, SPF 30, poison oak and iv...",4,Sunscreen,Outdoor Protection
111,96,2011-02-15,17,16.43,0.28,P96OP4FA17.jpg,EN,Compact Relief Kit,A personal first aid kit is recommended for ev...,4,First Aid,Outdoor Protection
112,97,2013-03-05,17,25.00,0.28,P96OP4FA17.jpg,EN,Deluxe Family Relief Kit,A complete medical kit suitable for families w...,4,First Aid,Outdoor Protection
113,98,2011-02-15,17,3.00,0.50,P98OP4FA17.jpg,EN,Calamine Relief,Use the Calamine Relief for allergic skin reac...,4,First Aid,Outdoor Protection
114,99,2011-02-15,17,2.00,0.60,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",4,First Aid,Outdoor Protection

#### Sales_Staff
Samengesteld uit go_sales.sales_staff, go_staff.sales_staff

In [98]:
sales_staff_combined = pd.concat([sales_staff, go_staff_staff], ignore_index=True)
sales_staff_combined = sales_staff_combined.sort_values(by=["SALES_STAFF_CODE"])
# inplace=False om een een nieuwe dataframe te returnen, anders gaat het sales_staff aanpassen en krijg je niks terug
sales_staff_combined = sales_staff_combined.dropna(subset=["MANAGER_CODE"], inplace=False)

display(sales_staff_combined)

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,MANAGER_CODE
146,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,18.0
154,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,4.0
165,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,4.0
176,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,4.0
122,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,14.0
...,...,...,...,...,...,...,...,...,...,...,...
123,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,119.0
124,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,119.0
125,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,119.0
126,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,18.0
127,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,18.0

#### Sales_Branch
Samengesteld uit go_staff_sales_branch en go_sales_sales_branch

In [99]:
sales_branch_combined = pd.concat([sales_branch, go_staff_sales_branch], ignore_index=True)
sales_branch_combined = sales_branch_combined.drop_duplicates()
sales_branch_combined["POSTAL_ADDRESS"] = sales_branch_combined[["ADDRESS1", "POSTAL_ZONE"]].agg( ", ".join, axis=1)

# display(sales_branch_combined)

#### Retailer
Samengevoegde tabel, bestaat uit go_crm.Retailer_Contact, Retailer_Site, Retailer, Retailer_Type, Country, Sales_Territory

In [100]:
# combineer de verschillende retailer_site tabellen en drop duplicates
retailer_site_combined = pd.concat([retailer_site, go_crm_retailer_site], ignore_index=True)
retailer_site_combined = retailer_site_combined.drop_duplicates()

# merge pad 1 : Retailer_Site --> Country --> Sales_Territory
country_content = pd.merge(go_crm_country, go_crm_sales_territory, left_on="SALES_TERRITORY_CODE", how="inner", right_on="SALES_TERRITORY_CODE")
retailer = pd.merge(retailer_site_combined, country_content, left_on="COUNTRY_CODE", how="inner", right_on="COUNTRY_CODE")

# merge pad 2 : retailer_site --> retailer_contact
retailer = pd.merge(retailer, go_crm_retailer_contact, left_on="RETAILER_SITE_CODE", how="inner", right_on="RETAILER_SITE_CODE")

# merge pad 3 : retailer_site --> retailer
retailer = pd.merge(retailer, go_crm_retailer, left_on="RETAILER_CODE", how="inner", right_on="RETAILER_CODE")
retailer = pd.merge(retailer, go_crm_retailer_type, left_on="RETAILER_TYPE_CODE", how="inner", right_on="RETAILER_TYPE_CODE")

display(retailer.count())

RETAILER_SITE_CODE       391
RETAILER_CODE            391
ADDRESS1                 391
ADDRESS2                 105
CITY                     391
REGION                   251
POSTAL_ZONE              390
COUNTRY_CODE             391
ACTIVE_INDICATOR         391
COUNTRY_EN               391
FLAG_IMAGE               391
SALES_TERRITORY_CODE     391
TERRITORY_NAME_EN        391
RETAILER_CONTACT_CODE    391
FIRST_NAME               391
LAST_NAME                391
JOB_POSITION_EN          391
EXTENSION                 70
FAX                      390
E_MAIL                   386
GENDER                   391
RETAILER_CODEMR          347
COMPANY_NAME             391
RETAILER_TYPE_CODE       391
RETAILER_TYPE_EN         391
dtype: int64

#### Return_Reason

Deze dimensietabel kan 1 op 1 overgenomen worden. Er moet nog gekeken worden of dimensies die in andere dimensies zijn samengevoegd ook apart opgenomen moeten worden.

#### Order_Method

Deze dimensietabel kan 1 op 1 overgenomen worden. Er moet nog gekeken worden of dimensies die in andere dimensies zijn samengevoegd ook apart opgenomen moeten worden.

#### Date

#### Satisfaction

Opgesteld uit Satisfaction en Satisfaction_Type

In [101]:
satisfaction = pd.merge(go_staff_satisfaction, go_staff_satisfaction_type, left_on="SATISFACTION_TYPE_CODE", how="inner", right_on="SATISFACTION_TYPE_CODE")


display(satisfaction)

,YEAR,SALES_STAFF_CODE,SATISFACTION_TYPE_CODE,SATISFACTION_TYPE_DESCRIPTION
0,2004,100,1,Not satisfied
1,2004,101,4,Very Satisfied
2,2004,102,4,Very Satisfied
3,2004,103,3,Satisfied
4,2004,104,4,Very Satisfied
...,...,...,...,...
296,2006,94,3,Satisfied
297,2006,95,4,Very Satisfied
298,2006,96,5,More than satisfied
299,2006,98,4,Very Satisfied
300,2006,99,5,More than satisfied

### Feittabellen samenstellen

#### Order_Details 
Feit #1, #2 - Geaggregeerd feit Order_Details en Order_Header

In [102]:
Order_Details_Feit = None
order_details_content = pd.merge(order_header, order_details, left_on="ORDER_NUMBER", how="inner", right_on="ORDER_NUMBER" )
order_details_content = pd.merge(order_details_content, order_method, left_on="ORDER_METHOD_CODE", how="inner", right_on="ORDER_METHOD_CODE")
order_details_content["TURNOVER"] = order_details_content["UNIT_SALE_PRICE"] * order_details_content["QUANTITY"]
order_details_content["PROFIT"] = ((order_details_content["UNIT_SALE_PRICE"] * order_details_content["QUANTITY"]) - (order_details_content["UNIT_COST"] * order_details_content["QUANTITY"]))
order_details_content["DISCOUNT_PERCENTAGE"] = ((order_details_content["UNIT_SALE_PRICE"]/order_details_content["UNIT_PRICE"]) * 100)
order_details_content["DISCOUNT_PERCENTAGE"] = order_details_content["DISCOUNT_PERCENTAGE"].round(2)


display(order_details_content)

,ORDER_NUMBER,RETAILER_NAME,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_METHOD_CODE,ORDER_DETAIL_CODE,PRODUCT_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,ORDER_METHOD_EN,TURNOVER,PROFIT,DISCOUNT_PERCENTAGE
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47747,2,100,9.64,12.53,11.81,Sales visit,1181.00,217.00,94.25
1,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47994,32,254,18.25,27.37,25.10,Sales visit,6375.40,1739.90,91.71
2,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48015,35,114,19.67,26.54,24.82,Sales visit,2829.48,587.10,93.52
3,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48022,36,130,21.03,34.90,31.44,Sales visit,4087.20,1353.30,90.09
4,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48049,39,74,42.33,67.73,61.38,Sales visit,4542.12,1409.70,90.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110788,52,64,19.00,38.00,33.25,Web,2128.00,912.00,87.50
43059,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110816,56,24,9.00,18.00,15.75,Web,378.00,162.00,87.50
43060,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110827,57,40,40.00,80.00,70.00,Web,2800.00,1200.00,87.50
43061,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110914,78,32,79.19,99.00,94.05,Web,3009.60,475.52,95.00
43062,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110948,88,144,2.00,7.00,5.75,Web,828.00,540.00,82.14

#### Returned_Item
Feit #3

In [103]:
returned_item_combined = pd.merge(returned_item, return_reason, left_on="RETURN_REASON_CODE", how="inner", right_on="RETURN_REASON_CODE")
returned_item_combined = pd.merge(returned_item_combined, order_details, left_on="ORDER_DETAIL_CODE", how="inner", right_on="ORDER_DETAIL_CODE")
returned_item_combined = pd.merge(returned_item_combined, product, left_on="PRODUCT_NUMBER", how="inner", right_on="PRODUCT_NUMBER")
returned_item_combined = returned_item_combined.loc[:,["RETURN_CODE","ORDER_DETAIL_CODE","RETURN_DATE","PRODUCT_NUMBER","RETURN_QUANTITY","RETURN_REASON_CODE","RETURN_DESCRIPTION_EN"]]

# display(returned_item_combined)

#### Staff_Training
Feit #4

(Moeten er wel zoveel merges zijn? Hoe zit het met foreign keys in de Data Warehouse?)

(Misschien het overzicht zo laten en de foreign keys in de database implementeren)

Het lijkt erop dat in een sterschema elke tabel atomisch moet zijn en geen verwijzingen naar anderen moet hebben. (Met uitzondering van Feit-Dimensie)

In [104]:
staff_training_combined = pd.merge(go_staff_training, go_staff_course, left_on="COURSE_CODE", how="inner", right_on="COURSE_CODE")
staff_training_combined = pd.merge(staff_training_combined, go_staff_staff, left_on="SALES_STAFF_CODE", how="inner", right_on="SALES_STAFF_CODE")
staff_training_combined["FULL_NAME"] = staff_training_combined[["FIRST_NAME", "LAST_NAME"]].agg( ", ".join, axis=1)
staff_training_combined = pd.merge(staff_training_combined, go_staff_satisfaction, left_on=["YEAR","SALES_STAFF_CODE"], how="inner", right_on=["YEAR","SALES_STAFF_CODE"])
staff_training_combined = pd.merge(staff_training_combined, go_staff_satisfaction_type, left_on="SATISFACTION_TYPE_CODE", how="inner", right_on="SATISFACTION_TYPE_CODE")
staff_training_combined = staff_training_combined.loc[:,["YEAR","SALES_STAFF_CODE", "FULL_NAME","POSITION_EN","COURSE_CODE","COURSE_DESCRIPTION","SATISFACTION_TYPE_CODE","SATISFACTION_TYPE_DESCRIPTION"]]

display(staff_training_combined)

,YEAR,SALES_STAFF_CODE,FULL_NAME,POSITION_EN,COURSE_CODE,COURSE_DESCRIPTION,SATISFACTION_TYPE_CODE,SATISFACTION_TYPE_DESCRIPTION
0,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,2,GO Communication,1,Not satisfied
1,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,3,GO Sales 1,1,Not satisfied
2,2004,100,"Tuomas, Savolainen",Level 2 Sales Representative,4,GO Sales 2,1,Not satisfied
3,2005,100,"Tuomas, Savolainen",Level 2 Sales Representative,5,GO Marketing 1,4,Very Satisfied
4,2006,100,"Tuomas, Savolainen",Level 2 Sales Representative,6,GO Marketing 2,4,Very Satisfied
...,...,...,...,...,...,...,...,...
394,2006,98,"Eduardo, Guimarães",Level 2 Sales Representative,5,GO Marketing 1,4,Very Satisfied
395,2005,99,"Helena, Lindholm",Level 3 Sales Representative,2,GO Communication,5,More than satisfied
396,2004,99,"Helena, Lindholm",Level 3 Sales Representative,5,GO Marketing 1,3,Satisfied
397,2005,99,"Helena, Lindholm",Level 3 Sales Representative,6,GO Marketing 2,5,More than satisfied
398,2005,99,"Helena, Lindholm",Level 3 Sales Representative,7,GO Marketing 3,5,More than satisfied

#### Sales_Demographic

Feit #5

#### GO_SALES_PRODUCT_FORECASTData

Feit #6

In [111]:
global GO_SALES_PRODUCT_FORECASTData
GO_SALES_PRODUCT_FORECASTData = pd.read_csv("../Assets/Week 2/GO_SALES_PRODUCT_FORECASTData.csv")
GO_SALES_PRODUCT_FORECASTData = GO_SALES_PRODUCT_FORECASTData.convert_dtypes()
display(GO_SALES_PRODUCT_FORECASTData.dtypes)

PRODUCT_NUMBER     Int64
YEAR               Int64
MONTH              Int64
EXPECTED_VOLUME    Int64
dtype: object

#### GO_SALES_INVENTORY_LEVELSData

Feit #7

In [113]:
global GO_SALES_INVENTORY_LEVELSData
GO_SALES_INVENTORY_LEVELSData = pd.read_csv("../Assets/Week 2/GO_SALES_INVENTORY_LEVELSData.csv")
GO_SALES_INVENTORY_LEVELSData = GO_SALES_INVENTORY_LEVELSData.convert_dtypes()
display(GO_SALES_INVENTORY_LEVELSData.dtypes)

INVENTORY_YEAR     Int64
INVENTORY_MONTH    Int64
PRODUCT_NUMBER     Int64
INVENTORY_COUNT    Int64
dtype: object

## Tabellen aanmaken in SQL Server

In [105]:
with open("../Assets/Week 4/Tables.sql","r") as file:
    SQL_statements = file.read()

## Data invoeren

In [109]:
for index, row in PRODUCT_REGISTRY.iterrows():
    try:
        query =  (
            f"INSERT INTO PRODUCT"
            f"(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, "
	        f"PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, "
	        f"PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) "
            f"VALUES "
            f"({row["PRODUCT_NUMBER"]}, '{row["INTRODUCTION_DATE"]}',"
            f"{row["PRODUCT_TYPE_CODE"]}, '{row["PRODUCT_TYPE_EN"]}', {row["PRODUCT_LINE_CODE"]}, "
            f"'{row["PRODUCT_LINE_EN"]}' ,{row["PRODUCTION_COST"]}, {row["MARGIN"]}, "
            f"'{row["PRODUCT_IMAGE"]}', '{row["PRODUCT_NAME"]}', '{row["DESCRIPTION"]}', "
            f" '{row["LANGUAGE"]}' )"
        )
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)
export_cursor.commit()


# for index, row in sales_staff_combined.iterrows():
#     try:
#         query = None
#         export_cursor.execute(query)
#     except pyodbc.Error:
#         print(query)
# export_cursor.commit()

# for index, row in sales_staff_combined.iterrows():
#     try:
#         query = None
#         export_cursor.execute(query)
#     except pyodbc.Error:
#         print(query)
# export_cursor.commit()

# for index, row in sales_staff_combined.iterrows():
#     try:
#         query = None
#         export_cursor.execute(query)
#     except pyodbc.Error:
#         print(query)
# export_cursor.commit()




export_cursor.close()

INSERT INTO PRODUCT(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) VALUES (13, '2011-02-15 00:00:00',2, 'Tents', 1, 'Camping Equipment' ,392.57, 0.25, 'P13CE1TN2.jpg', 'Star Gazer 2', 'The Star Gazer 2 is the Great Outdoor's most versatile tent.  It is a large two-person tent that is both durable and light weight.  Packed size: 18 x 70 cm. Weight: 2.6 kg.',  'EN' )
INSERT INTO PRODUCT(PRODUCT_NUMBER_PK, INTRODUCTION_DATE,PRODUCT_TYPE_CODE, PRODUCT_TYPE_EN, PRODUCT_LINE_CODE,PRODUCT_LINE_EN,PRODUCTION_COST,MARGIN, PRODUCT_IMAGE,PRODUCT_NAME,PRODUCT_DESCRIPTION_EN,LANUGAGE) VALUES (38, '2013-03-05 00:00:00',5, 'Lanterns', 1, 'Camping Equipment' ,20.0, 0.33, 'P38CE1LT5.jpg', 'EverGlow Kerosene', 'One of the most dependable sources of light in an emergency, this lantern is always ready and doesn't need to be recharged. Cotton wick. Height: 30 cm.',  'EN' )

# Quick Commands

## Verbreek verbinding met de database

In [ ]:
# export_cursor.close()